
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.about-us-ryan-EJy {
  height: 471.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .rectangle-KrD {
    left: 0;
    top: 34.9rem;
    background-color: #000000;
    border-radius: 3rem 3rem 0 0;
    width: 144rem;
    height: 436.3rem;
    position: absolute;
  }
  .page-1-pny {
    padding-bottom: 5rem;
    height: 40rem;
    left: 0;
    top: 0;
    display: flex;
    background-color: #242425;
    box-sizing: border-box;
    position: absolute;
    align-items: center;
    flex-direction: column;
    width: 145.7rem;

    .auto-group-rntn-LFX {
      margin-bottom: 4.8rem;
      width: 100%;
      height: 12.6rem;
      flex-shrink: 0;

      .nav-bar-4hK {
        height: 12.3845rem;
        display: flex;
        align-items: center;
        background-color: #000000;
        box-sizing: border-box;
        padding: 3.44rem 11.4rem 3.538rem 7.4rem;
        width: 100%;

        .white-text-1-iWy {
          flex-shrink: 0;
          margin: 0.197rem 12.1rem 0rem 0rem;
          width: 26.3rem;
          height: 5.2094rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
        }
        .about-services-prici-2Gm {
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2;
          color: #ffffff;
          margin: 0.314rem 10.35rem 0rem 0rem;
          font-family: Epilogue, 'Source Sans Pro';
        }
        .about-services-prici-urM {
          margin: 0.314rem 8.5rem 0rem 0rem;
          text-align: center;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2;
          font-family: Epilogue, 'Source Sans Pro';
        }
        .about-services-prici-aSh {
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.314rem 10.85rem 0rem 0rem;
          font-size: 1.6rem;
          color: #ffffff;
          line-height: 2;
          cursor: pointer;
          text-align: center;
          font-weight: 400;
        }
        .about-services-prici-Hc1 {
          margin: 0.314rem 17.2rem 0rem 0rem;
          text-align: center;
          line-height: 2;
          font-size: 1.6rem;
          font-weight: 400;
          color: #ffffff;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .dark-button-secondary-text-xTF {
          background-color: #5c338c;
          margin-bottom: 0.688rem;
          width: 13.8rem;
          font-weight: 900;
          line-height: 1.025;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.4rem;
          text-transform: uppercase;
          border-radius: 0.6rem;
          justify-content: center;
          height: 4.7179rem;
          cursor: pointer;
          font-family: Epilogue, 'Source Sans Pro';
          display: flex;
          align-items: center;
        }
      }
    }
    .about-us-CcV {
      font-size: 7.2rem;
      line-height: 1.1111111111;
      font-family: Epilogue, 'Source Sans Pro';
      flex-shrink: 0;
      text-align: center;
      font-weight: 800;
      letter-spacing: -0.2rem;
      color: #ffffff;
      white-space: nowrap;
      margin-right: 1.6rem;
    }
    .agency-provides-a-fu-uG1 {
      margin-right: 1.7rem;
      max-width: 85.1rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2;
      color: rgba(255, 255, 255, 0.6399999857);
      font-family: Epilogue, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
  .page-2-Pws {
    width: 144.4rem;
    height: 439.4rem;
    left: 0;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    padding: 12.4rem 12.033rem 310.4rem 14.239rem;
    position: absolute;
    top: 40rem;
    flex-direction: column;

    .auto-group-wpje-gRB {
      margin: 0rem 3.262rem 10.2rem 0rem;
      width: calc(100% - 3.2619rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .an-experience-design-okh {
        margin: 0.4rem 15.065rem 0rem 0rem;
        max-width: 44.6rem;
        font-size: 5.6rem;
        font-weight: 800;
        letter-spacing: -0.1rem;
        color: #ffffff;
        line-height: 1.1428571429;
        font-family: Epilogue, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .ability-to-put-thems-gZb {
        font-family: Epilogue, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 55.2rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2;
        color: #ffffff;
      }
    }
    .auto-group-twc4-ou7 {
      height: 44.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.802rem 10.8rem 0rem;

      .bitmap-LPF {
        box-sizing: border-box;
        background-color: #d8d8d8;
        border-radius: 0.6rem;
        background-image: url('REPLACE_IMAGE:E5hgD4ZMbKRbvF9vqvsx1z');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex-shrink: 0;
        margin-right: 3.0083rem;
        padding: 15rem 2.407rem 2.2rem 2.407rem;
        width: 57.1583rem;
        height: 100%;

        .play-bKB {
          width: calc(100% - 37.5038rem);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:0:3038');
          margin: 0rem 18.752rem 9.4rem 18.752rem;
          box-sizing: border-box;
          padding: 5.8rem 5.916rem 5.8rem 6.719rem;

          .triangle-WBF {
            border-radius: 0.2rem;
            width: 2.2061rem;
            height: 3.2rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .time-E7F {
          width: 4.7131rem;
          height: 3.4rem;
          position: relative;
          overflow: hidden;

          .rectangle-9k1 {
            left: 0;
            top: 0;
            background-color: rgba(86, 10, 0, 0.2363480031);
            border-radius: 0.6rem;
            width: 4.7131rem;
            height: 3.2rem;
            position: absolute;
          }
          .item-1-45-gV3 {
            position: absolute;
            left: 0.9025rem;
            top: 0.2rem;
            font-size: 1.6rem;
            line-height: 2;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            height: 3.2rem;
            font-weight: 400;
            color: #ffffff;
            width: 2.9rem;
          }
        }
      }
      .auto-group-bmh6-XEm {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 3.0083rem;
        width: 27.075rem;
        height: 100%;
        align-items: center;

        .bitmap-Tu7 {
          flex-shrink: 0;
          margin-bottom: 3.2rem;
          width: 100%;
          background-color: #d8d8d8;
          border-radius: 0.6rem;

          .auto-group-r1nl-cX7 {
            width: 27.075rem;
            height: 20.8rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .bitmap-LCD {
          width: 100%;
          background-color: #d8d8d8;
          border-radius: 0.6rem;
          flex-shrink: 0;

          .auto-group-hq5n-sxq {
            object-fit: contain;
            vertical-align: top;
            width: 27.075rem;
            height: 20.8rem;
            position: relative;
          }
        }
      }
      .auto-group-ktsw-m2d {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 27.075rem;
        height: 100%;
        align-items: center;

        .bitmap-iCm {
          width: 100%;
          background-color: #d8d8d8;
          border-radius: 0.6rem;
          flex-shrink: 0;
          margin-bottom: 3.2rem;

          .auto-group-q6se-Tw3 {
            width: 27.075rem;
            height: 20.8rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .bitmap-bnM {
          width: 100%;
          background-color: #d8d8d8;
          border-radius: 0.6rem;
          flex-shrink: 0;

          .auto-group-umwz-kQM {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            width: 27.075rem;
            height: 20.8rem;
          }
        }
      }
    }
    .auto-group-kdyw-rCV {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-jug8-1LH {
        margin: 7.6rem 8.539rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .features-wUq {
          font-weight: 400;
          letter-spacing: 0.3rem;
          text-transform: uppercase;
          color: #5c338c;
          flex-shrink: 0;
          margin-bottom: 3rem;
          font-size: 2rem;
          line-height: 1.6;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
        }
        .long-run-and-work-a-4ZT {
          color: #ffffff;
          font-family: Epilogue, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          max-width: 25.7rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.6;
        }
        .ability-to-put-thems-Bty {
          flex-shrink: 0;
          max-width: 41.6rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2;
          color: #ffffff;
          font-family: Epilogue, 'Source Sans Pro';
        }
      }
      .auto-group-7cv8-vbf {
        box-shadow: 0 3.2rem 6.4rem rgba(57, 20, 0, 0.0399999991);
        background-color: #ffffff;
        border-radius: 0.6rem 0.6rem 0 0.6rem;
        flex-shrink: 0;
        margin-right: 0.6017rem;
        padding: 4.8rem 9.28rem 5.2rem 4.813rem;
        width: 33.6933rem;
        box-sizing: border-box;
        border: solid 0.1rem #f3d1bf;

        .oval-qid {
          margin-bottom: 4.1rem;
          width: 8.0222rem;
          height: 8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .auto-group-5v5s-Z8q {
          margin-bottom: 1.4rem;
          width: 15.4rem;
          height: 3.7rem;
          position: relative;

          .combined-shape-VoB {
            top: 0.5rem;
            object-fit: contain;
            vertical-align: top;
            width: 3.2089rem;
            height: 3.2rem;
            position: absolute;
            left: 12.0333rem;
          }
          .professional-dPb {
            position: absolute;
            font-size: 2.4rem;
            line-height: 1.3333333333;
            font-family: Epilogue, 'Source Sans Pro';
            width: 15.4rem;
            height: 3.2rem;
            left: 0;
            top: 0;
            font-weight: 700;
            color: #000000;
            white-space: nowrap;
          }
        }
        .full-service-range-i-9Mw {
          line-height: 2;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          max-width: 19.6rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
      .auto-group-1sza-yrm {
        flex-direction: column;
        border: solid 0.1rem #f3d1bf;
        border-radius: 0 0.6rem 0.6rem 0;
        margin-top: 0.2rem;
        box-sizing: border-box;
        align-items: center;
        flex-shrink: 0;
        padding: 12.7rem 4.111rem 3rem 4.111rem;
        width: 33.6933rem;
        display: flex;

        .accessibility-shF {
          font-weight: 700;
          line-height: 1.3333333333;
          color: #ffffff;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 9.871rem 1.9rem 0rem;
          font-size: 2.4rem;
        }
        .business-understandi-bdF {
          font-family: Epilogue, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 4.5706rem;
          max-width: 20.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2;
          color: #ffffff;
        }
      }
    }
  }
  .page-3-TfT {
    top: 180.8rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 230.8rem;
    height: 268.1rem;
    position: absolute;
    left: 0;

    .auto-group-qc7e-oDX {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      height: 75.8rem;

      .our-team-Lz9 {
        top: 0;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0.3rem;
        color: #5c338c;
        font-family: Epilogue, 'Source Sans Pro';
        position: absolute;
        height: 3.2rem;
        left: 13.5rem;
        font-size: 2rem;
        text-transform: uppercase;
        white-space: nowrap;
        width: 11.6rem;
      }
      .auto-group-hm9v-2c5 {
        left: 13.5rem;
        top: 5.2rem;
        display: flex;
        align-items: flex-end;
        width: 117rem;
        height: 12.8rem;
        position: absolute;

        .team-of-designers-an-wU9 {
          color: #ffffff;
          font-family: Epilogue, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 5.6rem;
          letter-spacing: -0.1rem;
          font-weight: 800;
          line-height: 1.1428571429;
          margin-right: 52.8rem;
          max-width: 53rem;
        }
        .arrow-ETF {
          vertical-align: top;
          flex-shrink: 0;
          width: 11.2rem;
          height: 4.8rem;
          position: relative;
          object-fit: contain;
        }
      }
      .auto-group-rthe-mxy {
        top: 24.4rem;
        display: flex;
        column-gap: 3rem;
        align-items: center;
        width: 117rem;
        height: 27.2rem;
        position: absolute;
        left: 13.5rem;

        .auto-group-m7sz-HgR {
          border: solid 0.1rem #3a3b55;
          border-radius: 0.6rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.4rem 3.7rem 0.1rem 3.7rem;
          height: 100%;

          .bitmap-PUZ {
            width: 19.6rem;
            height: 24.7rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:98b5cbbf0bd3afb547694b02ae9ae19830eb5ced');
          }
        }
        .auto-group-oscg-fBB {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.9rem 0.5rem 0.1rem 0.6rem;
          height: 100%;
          border: solid 0.1rem #3a3b55;
          border-radius: 0.6rem;

          .bitmap-Pcy {
            width: 25.9rem;
            height: 23.2rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:a07f7fcaf6cde479f514ff2b778d3992269b0b18');
          }
        }
        .auto-group-pc44-g6H {
          border: solid 0.1rem #3a3b55;
          border-radius: 0.6rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.3rem 2.8rem 0.1rem 3.7rem;
          height: 100%;

          .bitmap-nf7 {
            width: 20.5rem;
            height: 23.8rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:47fcb2809a7a9ccb42478d355694f22ecd72dfed');
          }
        }
        .auto-group-xzjz-r9B {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.8rem 1.2rem 0.1rem 1.2rem;
          width: 27rem;
          height: 100%;
          border: solid 0.1rem #3a3b55;
          border-radius: 0.6rem;

          .bitmap-kVT {
            height: 23.3rem;
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:8e90b276e42fc0cfdf94f4dd264acda895fbf972');
            width: 23rem;
          }
        }
      }
      .auto-group-n1rt-r2h {
        display: flex;
        align-items: center;
        width: 101.2rem;
        height: 3.2rem;
        position: absolute;
        left: 13.5rem;
        top: 54.1rem;

        .ryan-gunatilake-mfT {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3333333333;
          color: #ffffff;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 10.4rem;
        }
        .roelof-bekkenenks-W7F {
          font-weight: 700;
          line-height: 1.3333333333;
          color: #ffffff;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 23.9rem;
          font-size: 2.4rem;
        }
        .leonardo-oliveira-M7s {
          line-height: 1.3333333333;
          color: #ffffff;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 22.7rem;
          font-size: 2.4rem;
          font-weight: 700;
        }
        .izabella-tabakova-GVj {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3333333333;
          color: #ffffff;
          font-family: Epilogue, 'Source Sans Pro';
        }
      }
      .auto-group-nkmn-Mn5 {
        width: 103.7rem;
        height: 3.2rem;
        position: absolute;
        left: 13.5rem;
        top: 57.6rem;
        display: flex;
        align-items: center;

        .designer-HQq {
          line-height: 2;
          color: rgba(255, 255, 255, 0.6399999857);
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 23rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .react-developer-pff {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2;
          color: rgba(255, 255, 255, 0.6399999857);
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.9rem;
        }
        .illustrator-Mfb {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2;
          color: rgba(255, 255, 255, 0.6399999857);
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 22.3rem;
        }
        .product-designer-hDf {
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2;
          color: rgba(255, 255, 255, 0.6399999857);
        }
      }
      .pins-Qtm {
        align-items: center;
        width: 7.6rem;
        height: 1.2rem;
        position: absolute;
        left: 68.2rem;
        top: 66rem;
        display: flex;
        column-gap: 2rem;

        .oval-wdo {
          width: 1.2rem;
          height: 1.2rem;
          background-color: #a498e7;
          border-radius: 0.6rem;
          flex-shrink: 0;
        }
        .oval-5zu {
          flex-shrink: 0;
          width: 1.2rem;
          height: 1.2rem;
          border: solid 0.1rem #4d4f6e;
          box-sizing: border-box;
          border-radius: 0.6rem;
        }
        .oval-pxV {
          width: 1.2rem;
          height: 1.2rem;
          border: solid 0.1rem #4d4f6e;
          box-sizing: border-box;
          border-radius: 0.6rem;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-zddn-AmT {
      box-sizing: border-box;
      padding: 0 76.9rem;
      width: 100%;
      height: 86.9rem;
      flex-shrink: 0;

      .faq-WqK {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-x4t6-G3o {
          padding-bottom: 6.8rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .faq-aaH {
            text-transform: uppercase;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: 0.3rem;
            color: #5c338c;
            margin-bottom: 1.7rem;
            line-height: 1.6;
          }
          .frequently-asked-que-u6m {
            line-height: 1.0666666667;
            color: #ffffff;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 3.1rem;
            font-size: 4.5rem;
            font-weight: 800;
          }
          .a-digital-agency-is-2x5 {
            color: #ffffff;
            font-family: Epilogue, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 75.9rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2;
          }
        }
        .auto-group-xcqz-Zx1 {
          height: 60.9rem;
          position: relative;
          flex-shrink: 0;
          width: 100%;

          .rectangle-Up5 {
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.6rem 0.6rem 0 0;
            width: 77rem;
            height: 27.3rem;
            position: absolute;
          }
          .a-digital-agency-is-mYH {
            left: 4.8rem;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.3333333333;
            color: #ffffff;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            height: 3.2rem;
            position: absolute;
            top: 4.1rem;
            width: 24.7rem;
          }
          .up-rJq {
            top: 4rem;
            object-fit: contain;
            vertical-align: top;
            width: 3.2rem;
            height: 3.2rem;
            position: absolute;
            left: 69.8rem;
          }
          .digital-marketing-ef-qAm {
            width: 66.3rem;
            left: 5rem;
            font-size: 1.6rem;
            font-weight: 400;
            color: #ffffff;
            font-family: Epilogue, 'Source Sans Pro';
            height: 9.6rem;
            position: absolute;
            top: 10.8rem;
            line-height: 2;
          }
          .rectangle-hTs {
            top: 27.2rem;
            border: solid 0.1rem #3a3b55;
            box-sizing: border-box;
            width: 77rem;
            height: 11.3rem;
            position: absolute;
            left: 0;
          }
          .hire-to-outsource-yo-dcR {
            color: #ffffff;
            white-space: nowrap;
            height: 3.2rem;
            font-size: 2.4rem;
            font-weight: 700;
            top: 31.3rem;
            line-height: 1.3333333333;
            font-family: Epilogue, 'Source Sans Pro';
            width: 36.2rem;
            position: absolute;
            left: 4.8rem;
          }
          .down-v5j {
            left: 69.8rem;
            top: 31.2rem;
            object-fit: contain;
            vertical-align: top;
            width: 3.2rem;
            height: 3.2rem;
            position: absolute;
          }
          .rectangle-o9X {
            left: 0;
            top: 38.4rem;
            border: solid 0.1rem #3a3b55;
            box-sizing: border-box;
            width: 77rem;
            height: 11.3rem;
            position: absolute;
          }
          .marketing-efforts-7g1 {
            font-weight: 700;
            color: #ffffff;
            font-family: Epilogue, 'Source Sans Pro';
            left: 4.8rem;
            top: 42.5rem;
            position: absolute;
            font-size: 2.4rem;
            line-height: 1.3333333333;
            white-space: nowrap;
            width: 35.5rem;
            height: 3.2rem;
          }
          .down-2ny {
            vertical-align: top;
            width: 3.2rem;
            height: 3.2rem;
            position: absolute;
            left: 69.8rem;
            top: 42.4rem;
            object-fit: contain;
          }
          .rectangle-N69 {
            top: 49.6rem;
            border: solid 0.1rem #3a3b55;
            box-sizing: border-box;
            border-radius: 0 0 0.6rem 0.6rem;
            width: 77rem;
            height: 11.3rem;
            position: absolute;
            left: 0;
          }
          .can-provide-your-bus-HU1 {
            font-weight: 700;
            line-height: 1.3333333333;
            color: #ffffff;
            white-space: nowrap;
            height: 3.2rem;
            position: absolute;
            top: 53.7rem;
            font-size: 2.4rem;
            width: 41rem;
            left: 4.8rem;
            font-family: Epilogue, 'Source Sans Pro';
          }
          .down-aCD {
            top: 53.6rem;
            object-fit: contain;
            vertical-align: top;
            width: 3.2rem;
            height: 3.2rem;
            position: absolute;
            left: 69.8rem;
          }
        }
      }
    }
    .auto-group-ysva-gW9 {
      box-sizing: border-box;
      padding: 9.7rem 56.9rem;
      width: 100%;
      height: 105.4rem;
      flex-shrink: 0;

      .group-6-24D {
        height: 54.4rem;
        position: relative;
        background-color: #5c338c;
        border-radius: 2rem;
        width: 100%;

        .help-to-build-your-d-MsB {
          line-height: 1.1428571429;
          letter-spacing: -0.1rem;
          width: 56.1rem;
          position: absolute;
          left: 10rem;
          top: 9.6rem;
          font-size: 5.6rem;
          font-weight: 800;
          color: #ffffff;
          font-family: Epilogue, 'Source Sans Pro';
          height: 19.2rem;
        }
        .a-digital-agency-is-Fhf {
          font-family: Epilogue, 'Source Sans Pro';
          color: rgba(255, 255, 255, 0.6399999857);
          height: 9.6rem;
          position: absolute;
          left: 10rem;
          top: 29.6rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2;
          width: 45.1rem;
        }
        .light-button-primary-text-MVo {
          box-shadow: 0 0.3rem 0.9rem rgba(57, 20, 0, 0.0799999982);
          width: 15.4rem;
          left: 10rem;
          top: 41.6rem;
          text-transform: uppercase;
          font-family: Epilogue, 'Source Sans Pro';
          font-size: 1.4rem;
          display: flex;
          border-radius: 0.6rem;
          position: absolute;
          line-height: 1.025;
          color: #ffffff;
          align-items: center;
          justify-content: center;
          background-color: #000000;
          height: 4.8rem;
          cursor: pointer;
          text-align: center;
          font-weight: 900;
          white-space: nowrap;
        }
        .pic-kH3 {
          vertical-align: top;
          width: 38.775rem;
          height: 43.175rem;
          position: absolute;
          left: 62.625rem;
          top: 4.125rem;
          object-fit: contain;
        }
      }
    }
  }
  .page-7-f97 {
    position: absolute;
    left: 0;
    top: 416.8rem;
    width: 144.3006rem;
    height: 54.4rem;

    .rectangle-Yih {
      background-color: #5c338c;
      border-radius: 2rem;
      width: 144rem;
      height: 54.4rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .rectangle-41946-V89 {
      position: absolute;
      left: 11.9rem;
      top: 13.2rem;
      background-color: #000000;
      border-radius: 2rem;
      width: 16.7rem;
      height: 4.4rem;
    }
    .white-text-2-PzD {
      width: 13.2rem;
      height: 2.6rem;
      position: absolute;
      left: 13.5rem;
      top: 14rem;
      object-fit: cover;
      vertical-align: top;
    }
    .menu-6dj {
      top: 14rem;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
      color: #ffffff;
      font-family: Epilogue, 'Source Sans Pro';
      width: 6.6rem;
      position: absolute;
      left: 43.2902rem;
      line-height: 1.6;
      white-space: nowrap;
      height: 3.2rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .about-services-blog-PMw {
      font-weight: 400;
      line-height: 2;
      color: #ffffff;
      font-family: Epilogue, 'Source Sans Pro';
      position: absolute;
      top: 18.8rem;
      font-size: 1.6rem;
      width: 6.9rem;
      height: 12.8rem;
      left: 43.2902rem;
    }
    .service-VQy {
      font-size: 2rem;
      line-height: 1.6;
      text-transform: uppercase;
      color: #ffffff;
      white-space: nowrap;
      height: 3.2rem;
      top: 14rem;
      left: 73.3528rem;
      font-weight: 400;
      letter-spacing: 0.3rem;
      font-family: Epilogue, 'Source Sans Pro';
      width: 9.7rem;
      position: absolute;
    }
    .design-development-m-byo {
      position: absolute;
      top: 18.8rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2;
      width: 10.5rem;
      height: 12.8rem;
      font-family: Epilogue, 'Source Sans Pro';
      left: 73.3528rem;
      color: #ffffff;
    }
    .social-5ty {
      width: 16.0334rem;
      height: 4.8rem;
      position: absolute;
      left: 114.4384rem;
      top: 12.8rem;
      object-fit: contain;
      vertical-align: top;
    }
    .rectangle-QwF {
      width: 117.2443rem;
      height: 0.1rem;
      position: absolute;
      left: 13.2275rem;
      top: 38.4rem;
      background-color: #f3d1bf;
    }
    .copyright-2022-laa-9dw {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2;
      white-space: nowrap;
      height: 3.2rem;
      position: absolute;
      top: 42.8rem;
      color: #ffffff;
      font-family: Epilogue, 'Source Sans Pro';
      width: 38.7rem;
      left: 13.2275rem;
    }
    .privacy-policy-c1j {
      font-size: 1.6rem;
      line-height: 2;
      font-family: Epilogue, 'Source Sans Pro';
      position: absolute;
      left: 119.9718rem;
      top: 42.8rem;
      text-align: right;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
      width: 10.5rem;
      height: 3.2rem;
    }
    .terms-of-use-v2R {
      text-align: right;
      font-weight: 400;
      color: #ffffff;
      width: 10.2rem;
      height: 3.2rem;
      position: absolute;
      left: 102.9357rem;
      top: 42.8rem;
      font-family: Epilogue, 'Source Sans Pro';
      font-size: 1.6rem;
      line-height: 2;
      white-space: nowrap;
    }
  }
}
