
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.contact-us-dinal-g9b {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;

  .auto-group-kgha-Bs3 {
    flex-shrink: 0;
    margin-bottom: 3.3rem;
    width: 1118.7rem;
    display: flex;
    align-items: flex-end;

    .auto-group-ljdr-KCZ {
      margin: 0rem 2.5rem 1rem 0rem;
      width: 146.0006rem;
      flex-shrink: 0;

      .auto-group-bn92-cxM {
        margin-bottom: 4.7rem;
        width: 100%;
        height: 152.9rem;
        position: relative;

        .page-1-m4Z {
          width: 145.8rem;
          height: 116.0465rem;
          position: absolute;
          left: 0;
          top: 0;

          .background-ghK {
            background-color: #242425;
            width: 144rem;
            height: 92.5263rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .nav-bar-2mB {
            box-sizing: border-box;
            padding: 3.44rem 11.4rem 3.538rem 7.4rem;
            height: 12.3845rem;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            background-color: #000000;
            width: 145.7rem;

            .white-text-1-WgM {
              margin: 0.197rem 12.1rem 0rem 0rem;
              width: 26.3rem;
              height: 5.2094rem;
              cursor: pointer;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .about-services-prici-Dam {
              line-height: 2;
              white-space: nowrap;
              cursor: pointer;
              font-size: 1.6rem;
              font-weight: 400;
              color: #ffffff;
              font-family: Epilogue, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0.314rem 10.35rem 0rem 0rem;
              text-align: center;
            }
            .about-services-prici-VYH {
              cursor: pointer;
              white-space: nowrap;
              margin: 0.314rem 8.5rem 0rem 0rem;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 2;
              color: #ffffff;
              font-family: Epilogue, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .about-services-prici-A8d {
              margin: 0.314rem 10.85rem 0rem 0rem;
              cursor: pointer;
              text-align: center;
              font-weight: 400;
              font-family: Epilogue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              line-height: 2;
              color: #ffffff;
            }
            .about-services-prici-GxM {
              font-weight: 400;
              line-height: 2;
              font-family: Epilogue, 'Source Sans Pro';
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.314rem 17.2rem 0rem 0rem;
              text-align: center;
              font-size: 1.6rem;
            }
            .dark-button-secondary-text-CLD {
              cursor: pointer;
              text-align: center;
              line-height: 1.025;
              text-transform: uppercase;
              white-space: nowrap;
              justify-content: center;
              margin-bottom: 0.688rem;
              font-size: 1.4rem;
              font-weight: 900;
              align-items: center;
              flex-shrink: 0;
              width: 13.8rem;
              font-family: Epilogue, 'Source Sans Pro';
              border-radius: 0.6rem;
              background-color: #5c338c;
              height: 4.7179rem;
              display: flex;
              color: #ffffff;
            }
          }
          .contact-dRX {
            width: 40rem;
            height: 8rem;
            position: absolute;
            top: 22.9145rem;
            font-weight: 800;
            line-height: 1.1111111111;
            font-family: Epilogue, 'Source Sans Pro';
            left: 58.2rem;
            text-align: center;
            font-size: 7.2rem;
            letter-spacing: -0.2rem;
            color: #ffffff;
            white-space: nowrap;
          }
          .agency-provides-a-fu-Vid {
            font-weight: 400;
            font-family: Epilogue, 'Source Sans Pro';
            width: 55.7rem;
            height: 9.6rem;
            left: 47.2rem;
            font-size: 1.6rem;
            color: rgba(255, 255, 255, 0.6399999857);
            position: absolute;
            top: 32.9rem;
            text-align: center;
            line-height: 2;
          }
          .oval-zfP {
            top: 22.5rem;
            object-fit: contain;
            vertical-align: top;
            width: 7.2rem;
            height: 7.4601rem;
            position: absolute;
            left: 50.1rem;
          }
          .shape-W7w {
            vertical-align: top;
            width: 2.4rem;
            height: 3.3156rem;
            position: absolute;
            left: 52.5rem;
            top: 24.6rem;
            object-fit: contain;
          }
        }
        .page-7-3Nm {
          width: 144.3006rem;
          height: 54.4rem;
          position: absolute;
          left: 0;
          top: 90.5rem;

          .rectangle-y1X {
            width: 144rem;
            height: 54.4rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #5c338c;
            border-radius: 2rem;
          }
          .rectangle-41946-hy7 {
            position: absolute;
            left: 11.9rem;
            top: 13.2rem;
            background-color: #000000;
            border-radius: 2rem;
            width: 16.7rem;
            height: 4.4rem;
          }
          .white-text-2-qJd {
            height: 2.6rem;
            position: absolute;
            left: 13.5rem;
            top: 14rem;
            object-fit: cover;
            vertical-align: top;
            width: 13.2rem;
          }
          .menu-vL5 {
            color: #ffffff;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            height: 3.2rem;
            position: absolute;
            left: 43.2902rem;
            font-size: 2rem;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
            width: 6.6rem;
            top: 14rem;
            font-weight: 400;
            line-height: 1.6;
          }
          .about-services-blog-cih {
            color: #ffffff;
            position: absolute;
            font-weight: 400;
            line-height: 2;
            top: 18.8rem;
            font-size: 1.6rem;
            font-family: Epilogue, 'Source Sans Pro';
            width: 6.9rem;
            height: 12.8rem;
            left: 43.2902rem;
          }
          .service-cMK {
            width: 9.7rem;
            left: 73.3528rem;
            font-size: 2rem;
            line-height: 1.6;
            color: #ffffff;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            height: 3.2rem;
            position: absolute;
            top: 14rem;
            font-weight: 400;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
          }
          .design-development-m-v77 {
            height: 12.8rem;
            left: 73.3528rem;
            top: 18.8rem;
            line-height: 2;
            color: #ffffff;
            width: 10.5rem;
            position: absolute;
            font-size: 1.6rem;
            font-weight: 400;
            font-family: Epilogue, 'Source Sans Pro';
          }
          .social-RJm {
            width: 16.0334rem;
            height: 4.8rem;
            position: absolute;
            left: 114.4384rem;
            top: 12.8rem;
            object-fit: contain;
            vertical-align: top;
          }
          .rectangle-9Em {
            height: 0.1rem;
            position: absolute;
            left: 13.2275rem;
            top: 38.4rem;
            background-color: #f3d1bf;
            width: 117.2443rem;
          }
          .copyright-2022-laa-Ri5 {
            font-size: 1.6rem;
            font-weight: 400;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            left: 13.2275rem;
            height: 3.2rem;
            position: absolute;
            top: 42.8rem;
            line-height: 2;
            color: #ffffff;
            width: 38.7rem;
          }
          .privacy-policy-86h {
            line-height: 2;
            color: #ffffff;
            font-family: Epilogue, 'Source Sans Pro';
            height: 3.2rem;
            position: absolute;
            top: 42.8rem;
            text-align: right;
            font-weight: 400;
            width: 10.5rem;
            left: 119.9718rem;
            font-size: 1.6rem;
            white-space: nowrap;
          }
          .terms-of-use-SNH {
            font-size: 1.6rem;
            font-weight: 400;
            color: #ffffff;
            width: 10.2rem;
            height: 3.2rem;
            top: 42.8rem;
            line-height: 2;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            left: 102.9357rem;
            text-align: right;
          }
        }
      }
      .faq-Xed {
        line-height: 1.6;
        letter-spacing: 0.3rem;
        font-family: Epilogue, 'Source Sans Pro';
        text-transform: uppercase;
        color: #ef6d58;
        white-space: nowrap;
        margin: 0rem 0rem 100rem 13.801rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .rectangle-qQR {
        background-color: #f3d1bf;
        margin: 0rem 15.2rem 0rem 13.801rem;
        width: calc(100% - 29.0006rem);
        height: 0.1rem;
      }
    }
    .contact-page-2-Lry {
      overflow: hidden;
      position: relative;
      background-color: #ffffff;
      flex-shrink: 0;
      margin: 0rem 816rem 19.74rem 0rem;
      width: 37.5rem;

      .auto-group-jp4p-FDF {
        width: 100%;
        height: 40rem;
        position: relative;

        .background-mSV {
          width: 37.5rem;
          height: 40rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #28293e;
        }
        .auto-group-p2da-7mF {
          left: 0;
          top: 1.6rem;
          display: flex;
          align-items: center;
          width: 32.9rem;
          height: 4.8rem;
          position: absolute;

          .logo-4Ah {
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 836rem;
            height: 100%;

            .auto-group-vxxe-QVT {
              flex-shrink: 0;
              margin-right: 846.4rem;
              width: 4.8rem;
              height: 4.8rem;
              object-fit: contain;
              vertical-align: top;
            }
            .agency-k3X {
              line-height: 1.3333333333;
              color: #ffffff;
              font-family: Epilogue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.2rem;
              font-size: 2.4rem;
              font-weight: 700;
            }
          }
          .menu-stq {
            width: 4.8rem;
            height: 4.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .portfolio-onV {
          letter-spacing: -0.1rem;
          font-family: Epilogue, 'Source Sans Pro';
          height: 6.4rem;
          left: 0;
          text-align: center;
          font-size: 5.6rem;
          font-weight: 800;
          line-height: 1.1428571429;
          white-space: nowrap;
          width: 24.5rem;
          position: absolute;
          top: 14.4rem;
          color: #ffffff;
        }
        .agency-provides-a-fu-6Wh {
          top: 22rem;
          line-height: 2;
          height: 3.2rem;
          position: absolute;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.6399999857);
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          width: 74.3rem;
          left: 0;
        }
      }
      .auto-group-bkxt-oAD {
        width: 92.5rem;
        height: 1968rem;
        position: relative;

        .bg-r8V {
          height: 1968rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #fdf0e9;
          width: 37.5rem;
        }
        .auto-group-5mnl-UvZ {
          box-sizing: border-box;
          height: 4.8rem;
          position: absolute;
          top: 3.2rem;
          display: flex;
          background-color: #ffffff;
          padding: 0.9rem 1.6rem 0.7rem 1.6rem;
          width: 32.9rem;
          left: 0;
          align-items: center;
          border: solid 0.1rem #f3d1bf;
          border-radius: 0.6rem;

          .placeholder-ZBK {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 843.2rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2;
            color: rgba(57, 20, 0, 0.6399999857);
            font-family: Epilogue, 'Source Sans Pro';
          }
          .triangle-VKs {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            width: 1rem;
            height: 0.6rem;
          }
        }
        .bitmap-oLZ {
          padding: 25.6rem 2.8rem 5.1rem 2.8rem;
          width: 32.9rem;
          position: absolute;
          top: 12.8rem;
          background-color: #9b9b9b;
          border-radius: 0.6rem;
          background-size: cover;
          background-position: center;
          background-image: url('REPLACE_IMAGE:E5hfULHZ1upQYTE4FoKCma');
          box-sizing: border-box;
          height: 41.6rem;
          left: 0;
          background-repeat: no-repeat;

          .tag-uuP {
            padding: 0.5rem 1.5rem 0.1rem 1.6rem;
            font-size: 1.6rem;
            box-sizing: border-box;
            overflow: hidden;
            color: #381300;
            font-family: Epilogue, 'Source Sans Pro';
            margin-bottom: 2.3rem;
            line-height: 2;
            white-space: nowrap;
            width: 8.4rem;
            position: relative;
            font-weight: 400;
            background-color: #ffffff;
            border-radius: 1.9rem;
          }
          .keyboard-Ljo {
            font-weight: 800;
            line-height: 1.0666666667;
            color: #ffffff;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 4.5rem;
          }
        }
        .bitmap-EKP {
          background-position: center;
          background-image: url('REPLACE_IMAGE:E5heB37gV5fJBEh7hvLQQU');
          position: absolute;
          border-radius: 0.6rem;
          background-size: cover;
          background-repeat: no-repeat;
          left: 0;
          top: 57.6rem;
          background-color: #9b9b9b;
          box-sizing: border-box;
          padding: 25.6rem 2.8rem 5.1rem 2.8rem;
          width: 32.9rem;
          height: 41.6rem;

          .tag-wjb {
            margin-bottom: 2.3rem;
            padding: 0.5rem 1.5rem 0.1rem 1.6rem;
            font-family: Epilogue, 'Source Sans Pro';
            border-radius: 1.9rem;
            white-space: nowrap;
            background-color: #ffffff;
            line-height: 2;
            font-size: 1.6rem;
            font-weight: 400;
            color: #381300;
            box-sizing: border-box;
            width: 8.4rem;
            overflow: hidden;
            position: relative;
          }
          .sofa-QNH {
            font-weight: 800;
            line-height: 1.0666666667;
            color: #ffffff;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 4.5rem;
          }
        }
        .bitmap-h6V {
          left: 0;
          top: 102.4rem;
          border-radius: 0.6rem;
          background-position: center;
          width: 32.9rem;
          padding: 25.6rem 2.8rem 5.1rem 2.8rem;
          height: 41.6rem;
          position: absolute;
          background-color: #9b9b9b;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:E5hdR4NxenpruFarGdPfvk');
          box-sizing: border-box;

          .tag-QWh {
            font-size: 1.6rem;
            font-weight: 400;
            position: relative;
            box-sizing: border-box;
            width: 10.2rem;
            overflow: hidden;
            color: #381300;
            white-space: nowrap;
            background-color: #ffffff;
            margin-bottom: 2.3rem;
            height: 3.8rem;
            line-height: 2;
            font-family: Epilogue, 'Source Sans Pro';
            border-radius: 1.9rem;
            padding: 0.5rem 1.6rem 0.1rem 1.6rem;
          }
          .dddone-qc1 {
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 4.5rem;
            font-weight: 800;
            line-height: 1.0666666667;
            color: #ffffff;
          }
        }
        .bitmap-jBb {
          background-position: center;
          box-sizing: border-box;
          height: 41.6rem;
          top: 147.2rem;
          background-color: #9b9b9b;
          background-size: cover;
          background-repeat: no-repeat;
          padding: 25.6rem 2.6rem 5.1rem 2.8rem;
          width: 32.9rem;
          position: absolute;
          left: 0;
          border-radius: 0.6rem;
          background-image: url('REPLACE_IMAGE:E5he53Hg43N9TWddEk7fhn');

          .tag-QYd {
            width: 11.6rem;
            height: 3.8rem;
            position: relative;
            background-color: #ffffff;
            box-sizing: border-box;
            font-weight: 400;
            line-height: 2;
            white-space: nowrap;
            margin-bottom: 2.3rem;
            color: #381300;
            font-family: Epilogue, 'Source Sans Pro';
            padding: 0.5rem 1.5rem 0.1rem 1.6rem;
            overflow: hidden;
            font-size: 1.6rem;
            border-radius: 1.9rem;
          }
          .work-media-4dB {
            font-size: 4.5rem;
            font-weight: 800;
            line-height: 1.0666666667;
            color: #ffffff;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .bitmap-BSu {
          top: 192rem;
          background-color: #9b9b9b;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:E5hdDeYJmvYLch5eo5rzZi');
          width: 32.9rem;
          position: absolute;
          left: 0;
          border-radius: 0.6rem;
          background-size: cover;
          box-sizing: border-box;
          padding: 25.6rem 2.8rem 5.1rem 2.8rem;
          height: 41.6rem;

          .tag-J1j {
            box-sizing: border-box;
            height: 3.8rem;
            border-radius: 1.9rem;
            position: relative;
            font-size: 1.6rem;
            color: #381300;
            background-color: #ffffff;
            margin-bottom: 2.3rem;
            width: 10.2rem;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            padding: 0.5rem 1.6rem 0.1rem 1.6rem;
            overflow: hidden;
            font-weight: 400;
            line-height: 2;
          }
          .handp-y7s {
            font-size: 4.5rem;
            font-weight: 800;
            line-height: 1.0666666667;
            color: #ffffff;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-5sal-THw {
          column-gap: 0.8rem;
          align-items: center;
          width: 27.2rem;
          height: 4.8rem;
          position: absolute;
          left: 0;
          top: 238.4rem;
          display: flex;

          .light-button-primary-text-NQu {
            white-space: nowrap;
            display: flex;
            background-color: #ef6d58;
            text-align: center;
            font-size: 1.4rem;
            line-height: 1.025;
            text-transform: uppercase;
            color: #ffffff;
            align-items: center;
            border-radius: 0.6rem;
            flex-shrink: 0;
            width: 4.8rem;
            height: 100%;
            font-weight: 900;
            font-family: Epilogue, 'Source Sans Pro';
            justify-content: center;
            margin-right: 842.8rem;
          }
          .light-button-primary-text-Re5 {
            margin-right: 837.2rem;
            font-weight: 900;
            display: flex;
            justify-content: center;
            box-shadow: 0 0.3rem 0.9rem rgba(57, 20, 0, 0.0799999982);
            height: 100%;
            text-align: center;
            color: #381300;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            line-height: 1.025;
            border-radius: 0.6rem;
            width: 4.8rem;
            text-transform: uppercase;
            align-items: center;
            background-color: #ffffff;
          }
          .light-button-primary-text-4S9 {
            height: 100%;
            text-transform: uppercase;
            color: #381300;
            align-items: center;
            width: 4.8rem;
            font-size: 1.4rem;
            font-weight: 900;
            line-height: 1.025;
            font-family: Epilogue, 'Source Sans Pro';
            justify-content: center;
            box-shadow: 0 0.3rem 0.9rem rgba(57, 20, 0, 0.0799999982);
            background-color: #ffffff;
            border-radius: 0.6rem;
            margin-right: 831.6rem;
            text-align: center;
            white-space: nowrap;
            display: flex;
            flex-shrink: 0;
          }
          .light-button-primary-text-gCd {
            text-transform: uppercase;
            background-color: #ffffff;
            margin-right: 826rem;
            height: 100%;
            text-align: center;
            font-size: 1.4rem;
            font-family: Epilogue, 'Source Sans Pro';
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: 4.8rem;
            color: #381300;
            box-shadow: 0 0.3rem 0.9rem rgba(57, 20, 0, 0.0799999982);
            line-height: 1.025;
            white-space: nowrap;
            justify-content: center;
            border-radius: 0.6rem;
            font-weight: 900;
          }
          .light-button-primary-text-VA5 {
            font-size: 1.4rem;
            font-weight: 900;
            white-space: nowrap;
            display: flex;
            border-radius: 0.6rem;
            text-align: center;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0.3rem 0.9rem rgba(57, 20, 0, 0.0799999982);
            background-color: #ffffff;
            height: 100%;
            line-height: 1.025;
            color: #381300;
            font-family: Epilogue, 'Source Sans Pro';
            width: 4.8rem;
            text-transform: uppercase;
            flex-shrink: 0;
          }
        }
        .auto-group-prha-Z9w {
          width: 90.2rem;
          height: 73.6rem;
          position: absolute;
          left: 0;
          top: 254.4rem;

          .rectangle-gkM {
            height: 73.6rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #ef6d58;
            border-radius: 0.6rem;
            width: 32.9rem;
          }
          .bitmap-2JR {
            top: 3.2rem;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:8d35b512a075bb8f442054e6096412e5ed7b26fb');
            width: 27.3rem;
            height: 26.4rem;
            position: relative;
            left: 0;
          }
          .help-to-build-your-d-Xky {
            top: 33.3rem;
            font-weight: 800;
            line-height: 1.0666666667;
            font-family: Epilogue, 'Source Sans Pro';
            position: absolute;
            height: 4.8rem;
            left: 0;
            font-size: 4.5rem;
            color: #ffffff;
            white-space: nowrap;
            width: 75.9rem;
          }
          .a-digital-agency-is-1w3 {
            position: absolute;
            left: 0;
            top: 49.2rem;
            font-size: 1.6rem;
            color: rgba(255, 255, 255, 0.6399999857);
            width: 87.4rem;
            height: 3.2rem;
            font-weight: 400;
            line-height: 2;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
          }
          .light-button-primary-text-vYD {
            top: 64rem;
            font-weight: 900;
            font-family: Epilogue, 'Source Sans Pro';
            width: 15.4rem;
            text-align: center;
            line-height: 1.025;
            text-transform: uppercase;
            box-shadow: 0 0.3rem 0.9rem rgba(57, 20, 0, 0.0799999982);
            background-color: #ffffff;
            border-radius: 0.6rem;
            height: 4.8rem;
            font-size: 1.4rem;
            color: #381300;
            white-space: nowrap;
            justify-content: center;
            position: absolute;
            left: 0;
            display: flex;
            align-items: center;
          }
        }
        .agency-jEm {
          width: 9rem;
          position: absolute;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3333333333;
          color: #381300;
          white-space: nowrap;
          height: 3.2rem;
          left: 0;
          top: 338.5rem;
          font-family: Epilogue, 'Source Sans Pro';
        }
        .menu-RdP {
          font-size: 2rem;
          white-space: nowrap;
          height: 3.2rem;
          top: 346.8rem;
          font-weight: 400;
          text-transform: uppercase;
          width: 6.6rem;
          text-align: center;
          letter-spacing: 0.3rem;
          position: absolute;
          left: 0;
          line-height: 1.6;
          color: #ef6d58;
          font-family: Epilogue, 'Source Sans Pro';
        }
        .about-services-blog-XgR {
          text-align: center;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2;
          color: #381300;
          font-family: Epilogue, 'Source Sans Pro';
          height: 3.2rem;
          top: 351.6rem;
          left: 0;
          white-space: nowrap;
          width: 21.4rem;
          position: absolute;
        }
        .service-rCu {
          text-align: center;
          width: 9.7rem;
          height: 3.2rem;
          top: 369.2rem;
          text-transform: uppercase;
          color: #ef6d58;
          line-height: 1.6;
          letter-spacing: 0.3rem;
          white-space: nowrap;
          position: absolute;
          left: 0;
          font-size: 2rem;
          font-weight: 400;
          font-family: Epilogue, 'Source Sans Pro';
        }
        .design-development-m-jnV {
          left: 0;
          font-weight: 400;
          line-height: 2;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          width: 30.9rem;
          position: absolute;
          text-align: center;
          font-size: 1.6rem;
          color: #381300;
          height: 3.2rem;
          top: 374rem;
        }
        .social-TCh {
          height: 4.8rem;
          position: absolute;
          left: 0;
          top: 392rem;
          object-fit: contain;
          vertical-align: top;
          width: 16rem;
        }
        .rectangle-a2R {
          height: 0.1rem;
          position: absolute;
          left: 0;
          top: 403.2rem;
          background-color: #f3d1bf;
          width: 32.9rem;
        }
        .copyright-2022-laa-uqP {
          font-size: 1.6rem;
          line-height: 2;
          color: rgba(57, 20, 0, 0.6399999857);
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          width: 35.1rem;
          height: 3.2rem;
          text-align: center;
          font-weight: 400;
          position: absolute;
          left: 0;
          top: 407.6rem;
        }
        .auto-group-y7tz-1dX {
          display: flex;
          align-items: center;
          width: 27.5rem;
          height: 3.2rem;
          position: absolute;
          left: 0;
          top: 417.2rem;

          .privacy-policy-YdT {
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2;
            color: #381300;
            font-family: Epilogue, 'Source Sans Pro';
          }
          .terms-of-use-tSR {
            text-align: center;
            font-size: 1.6rem;
            font-family: Epilogue, 'Source Sans Pro';
            margin-right: 838.3rem;
            font-weight: 400;
            line-height: 2;
            color: #381300;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .rectangle-brd {
      width: 117rem;
      height: 60.3rem;
      background-color: #f3d1bf;
      flex-shrink: 0;
    }
  }
  .auto-group-4vqe-vtu {
    margin: 0rem 13.5rem 21.65rem 13.5rem;
    width: calc(100% - 27rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .copyright-2022-laa-rGm {
      line-height: 2;
      color: rgba(57, 20, 0, 0.6399999857);
      font-family: Epilogue, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 54.4rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .terms-of-use-yMP {
      color: #381300;
      font-family: Epilogue, 'Source Sans Pro';
      margin-right: 6.8rem;
      font-weight: 400;
      line-height: 2;
      white-space: nowrap;
      flex-shrink: 0;
      text-align: right;
      font-size: 1.6rem;
    }
    .privacy-policy-4dj {
      white-space: nowrap;
      flex-shrink: 0;
      text-align: right;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2;
      color: #381300;
      font-family: Epilogue, 'Source Sans Pro';
    }
  }
  .bg-PAD {
    margin-left: 60.8rem;
    width: calc(100% - 60.8rem);
    height: 185.1rem;
    background-color: #fdf0e9;
    flex-shrink: 0;
  }
}
