
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 142.7rem;
}.create-an-account-dinal-m41 {
  width: 100%;
  height: 141rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .background-gwf {
    height: 140.9rem;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #dabded;
    width: 142.7rem;
  }
  .backdrop-P5P {
    box-sizing: border-box;
    height: 140.9rem;
    position: absolute;
    background-color: rgba(17, 17, 17, 0.25);
    display: flex;
    align-items: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    padding-right: 0.4rem;
    width: 142.7rem;
    left: 0;
    top: 0;
    overflow: hidden;

    .auto-group-tzxl-5yo {
      box-sizing: border-box;
      padding: 2.929rem 3.537rem 8.806rem 3.537rem;
      width: 140.5819rem;
      height: 100%;
      flex-shrink: 0;

      .group-8-aQm {
        margin-bottom: 5.1153rem;
        width: 4.3242rem;
        height: 4.3646rem;
        object-fit: contain;
        vertical-align: top;
      }
      .sign-up-overlay-7fb {
        box-sizing: border-box;
        width: calc(100% - 51.6076rem);
        overflow: hidden;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 2.4rem;
        margin: 0rem 25.045rem 0rem 26.563rem;
        padding: 3.2rem 3.2rem 8.285rem 14.2rem;
        position: relative;
        align-items: center;

        .icons-B9f {
          height: 3.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 61.3rem;
          width: 3.2rem;
        }
        .black-text-1-Vg9 {
          flex-shrink: 0;
          margin: 0rem 9.5rem 2.2rem 0rem;
          width: 34.2rem;
          height: 6.3rem;
          object-fit: cover;
          vertical-align: top;
        }
        .frame-236-1eV {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 11.1rem 2.5rem 0rem;
          width: 53.4rem;

          .create-an-account-Jdb {
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 1.5;
            flex-shrink: 0;
            margin-bottom: 2.4rem;
            color: #333333;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
          }
          .auto-group-7bg8-RCR {
            position: relative;
            flex-shrink: 0;
            margin-bottom: 0.7rem;
            width: 100%;
            height: 44.5rem;

            .email-m1P {
              top: 0;
              box-sizing: border-box;
              padding-bottom: 2.5rem;
              width: 53.4rem;
              height: 11.2rem;
              position: absolute;
              left: 0;

              .frame-243-hQq {
                margin-bottom: 0.4rem;
                line-height: 1.5;
                color: #666666;
                white-space: nowrap;
                width: 52.5137rem;
                height: 2.7rem;
                font-size: 1.6rem;
                font-weight: 400;
                font-family: Poppins, 'Source Sans Pro';
              }
              .text-field-B57 {
                height: 5.6rem;
                overflow: hidden;
                position: relative;
                border: solid 0.1rem rgba(102, 102, 102, 0.349999994);
                box-sizing: border-box;
                border-radius: 1.2rem;
                width: 100%;
              }
            }
            .email-sid {
              box-sizing: border-box;
              padding-bottom: 2.5rem;
              width: 53.4rem;
              height: 11.2rem;
              position: absolute;
              left: 0;
              top: 11.1rem;

              .frame-243-DGh {
                white-space: nowrap;
                width: 52.5137rem;
                font-weight: 400;
                color: #666666;
                font-family: Poppins, 'Source Sans Pro';
                margin-bottom: 0.4rem;
                height: 2.7rem;
                font-size: 1.6rem;
                line-height: 1.5;
              }
              .text-field-JZ3 {
                width: 100%;
                height: 5.6rem;
                overflow: hidden;
                position: relative;
                border: solid 0.1rem rgba(102, 102, 102, 0.349999994);
                box-sizing: border-box;
                border-radius: 1.2rem;
              }
            }
            .email-8ny {
              box-sizing: border-box;
              padding-bottom: 2.5rem;
              width: 53.4rem;
              height: 11.2rem;
              position: absolute;
              left: 0;
              top: 22.2rem;

              .frame-243-GeH {
                margin-bottom: 0.4rem;
                height: 2.7rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #666666;
                font-family: Poppins, 'Source Sans Pro';
                width: 52.5137rem;
                white-space: nowrap;
              }
              .text-field-nsX {
                width: 100%;
                height: 5.6rem;
                overflow: hidden;
                position: relative;
                border: solid 0.1rem rgba(102, 102, 102, 0.349999994);
                box-sizing: border-box;
                border-radius: 1.2rem;
              }
            }
            .email-KcZ {
              box-sizing: border-box;
              padding-bottom: 2.5rem;
              width: 53.4rem;
              height: 11.2rem;
              position: absolute;
              left: 0;
              top: 33.3rem;

              .frame-243-EjX {
                line-height: 1.5;
                color: #666666;
                white-space: nowrap;
                font-weight: 400;
                font-family: Poppins, 'Source Sans Pro';
                margin-bottom: 0.4rem;
                width: 52.5137rem;
                height: 2.7rem;
                font-size: 1.6rem;
              }
              .text-field-LGm {
                overflow: hidden;
                position: relative;
                border: solid 0.1rem rgba(102, 102, 102, 0.349999994);
                box-sizing: border-box;
                border-radius: 1.2rem;
                width: 100%;
                height: 5.6rem;
              }
            }
          }
          .check-box-rku {
            margin: 0rem 9rem 3.2rem 0rem;
            width: calc(100% - 9rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .check-box-Pkq {
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.8rem;
              width: 2.4rem;
            }
            .i-want-to-receive-emails-about-the-product-feature-updates-events-and-marketing-promotions-Jcu {
              max-width: 41.2rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #333333;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;

              .i-want-to-receive-emails-about-the-product-feature-updates-events-and-marketing-promotions-Jcu-sub-0 {
                line-height: 1.5;
                color: #333333;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
              }
              .i-want-to-receive-emails-about-the-product-feature-updates-events-and-marketing-promotions-Jcu-sub-1 {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                text-decoration-line: underline;
                color: #111111;
                font-family: Poppins, 'Source Sans Pro';
              }
              .i-want-to-receive-emails-about-the-product-feature-updates-events-and-marketing-promotions-Jcu-sub-2 {
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #666666;
              }
              .i-want-to-receive-emails-about-the-product-feature-updates-events-and-marketing-promotions-Jcu-sub-3 {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #333333;
                font-family: Poppins, 'Source Sans Pro';
              }
              .i-want-to-receive-emails-about-the-product-feature-updates-events-and-marketing-promotions-Jcu-sub-4 {
                font-weight: 400;
                line-height: 1.5;
                color: #666666;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
              }
              .i-want-to-receive-emails-about-the-product-feature-updates-events-and-marketing-promotions-Jcu-sub-5 {
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                text-decoration-line: underline;
                color: #111111;
              }
              .i-want-to-receive-emails-about-the-product-feature-updates-events-and-marketing-promotions-Jcu-sub-6 {
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                text-decoration-line: underline;
                color: #666666;
              }
            }
          }
          .button-p9K {
            padding: 0.3rem 0rem 0.3rem 0.3rem;
            width: 100%;
            height: 6.4rem;
            position: relative;
            background-color: rgba(17, 17, 17, 0.25);
            flex-shrink: 0;
            margin-bottom: 2.5rem;
            box-sizing: border-box;
            overflow: hidden;
            border-radius: 4rem;

            .button-ugZ {
              display: flex;
              background-color: #5c338c;
              font-size: 2rem;
              font-weight: 500;
              font-family: DM Sans, 'Source Sans Pro';
              align-items: center;
              border-radius: 2rem;
              box-shadow: 0 1.6rem 6rem rgba(134, 109, 201, 0.1599999964);
              height: 100%;
              line-height: 1.3025;
              width: 100%;
              text-align: center;
              color: #ffffff;
              white-space: nowrap;
              justify-content: center;
            }
          }
          .divider-6m3 {
            flex-shrink: 0;
            margin-bottom: 2.5rem;
            width: 100%;
            display: flex;
            align-items: center;

            .divider-rVK {
              margin-right: 2.3rem;
              width: 22.65rem;
              height: 0.2rem;
              background-color: rgba(102, 102, 102, 0.25);
              flex-shrink: 0;
            }
            .or-Aku {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 2.4rem;
              line-height: 1.2575;
              font-family: Avenir, 'Source Sans Pro';
              margin-right: 2.8rem;
              font-weight: 400;
              color: #666666;
            }
            .divider-JMK {
              height: 0.2rem;
              background-color: rgba(102, 102, 102, 0.25);
              flex-shrink: 0;
              width: 22.65rem;
            }
          }
          .social-media-signup-login-cso {
            padding: 1.6rem 14.9rem 1.7rem 12.8rem;
            width: 100%;
            height: 6.4rem;
            overflow: hidden;
            position: relative;
            border-radius: 3.2rem;
            flex-shrink: 0;
            box-sizing: border-box;
            cursor: pointer;
            border: solid 0.1rem #333333;
            background-color: #ffffff;

            .frame-7-vNh {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              box-sizing: border-box;
              padding-left: 0.1501rem;

              .social-media-logo-epV {
                height: 2.1rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.75rem 0rem 0rem;
                width: 2.1rem;
              }
              .continue-with-google-BJd {
                flex-shrink: 0;
                display: flex;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #333333;
                font-family: Avenir, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
        .social-media-signup-login-GL5 {
          width: 52.8rem;
          height: 7.2rem;
          border-radius: 4rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.25rem 15.25rem 2.15rem 13.55rem;
          overflow: hidden;
          position: relative;
          border: solid 0.1rem #333333;
          background-color: #ffffff;
          margin: 0rem 11.7rem 3.1rem 0rem;
          cursor: pointer;

          .frame-277-YYV {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .social-media-logo-udw {
              flex-shrink: 0;
              margin-right: 1.8rem;
              width: 2.8rem;
              height: 2.8rem;
              object-fit: contain;
              vertical-align: top;
            }
            .continue-with-facebook-2Tf {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 2.2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #333333;
              font-family: Avenir, 'Source Sans Pro';
            }
          }
        }
        .if-you-already-have-an-account-click-here-to-login-Khf {
          display: flex;
          cursor: pointer;
          font-size: 1.6rem;
          font-weight: 400;
          color: #333333;
          align-items: baseline;
          flex-shrink: 0;
          margin-right: 7.6rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;

          .if-you-already-have-an-account-click-here-to-login-Khf-sub-0 {
          }
          .if-you-already-have-an-account-click-here-to-login-Khf-sub-1 {
            line-height: 1.5;
            color: #666666;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
          }
          .if-you-already-have-an-account-click-here-to-login-Khf-sub-2 {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            text-decoration-line: underline;
            color: #111111;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
      }
    }
    .scrollbar-7G9 {
      box-sizing: border-box;
      width: 1.7181rem;
      height: 100%;
      background-color: #f1f1f1;
      padding: 0.7rem 0.218rem 0.7rem 0.2rem;
      row-gap: 68.1rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .arrow-ouf {
        flex-shrink: 0;
        width: 0.7rem;
        height: 0.4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .thumb-LPo {
        width: 100%;
        height: 2.5rem;
        background-color: #c1c1c1;
        flex-shrink: 0;
      }
      .arrow-6Ny {
        width: 0.7rem;
        height: 0.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
