
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.831rem;
}.dino-reichmuth-a5rcn8626ck-unsplash-1-A85 {
  width: 100%;
  height: 102.4rem;
  background-color: #ffffff;
}
