
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 145rem;
}.enter-new-password-dinal-fj3 {
  position: relative;
  backdrop-filter: blur(0.4rem);
  background-color: #dabded;
  width: 100%;
  height: 102.4rem;
  cursor: pointer;
  overflow: hidden;

  .backdrop-12D {
    padding: 2.1rem 0rem 2.1rem 3.858rem;
    width: 146.2025rem;
    height: 118.9rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: rgba(17, 17, 17, 0.25);
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    .group-8-WDs {
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 2.428rem 30.285rem 0rem 0rem;
      width: 3.7566rem;
      height: 3.5995rem;
    }
    .frame-CcV {
      margin: 18rem 36.199rem 27.8rem 0rem;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      padding: 3.2rem 3.2rem 3.8rem 9.7rem;
      background-color: #ffffff;
      border-radius: 2.4rem;
      height: calc(100% - 45.8rem);
      display: flex;
      flex-direction: column;
      width: 70.4rem;
      align-items: center;
      flex-shrink: 0;

      .icons-Smj {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 54.3rem;
        width: 3.2rem;
        height: 3.2rem;
      }
      .black-text-1-BUR {
        flex-shrink: 0;
        margin: 0rem 6.5rem 1.8rem 0rem;
        width: 31.4rem;
        height: 5.4rem;
        object-fit: cover;
        vertical-align: top;
      }
      .enter-new-password-raZ {
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        align-items: center;
        font-weight: 500;
        justify-content: center;
        font-size: 3.2rem;
        color: #333333;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 6.5rem 2.2rem 0rem;
        display: flex;
      }
      .auto-group-pfcp-x7o {
        width: 52.8rem;
        height: 34.5rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 4.7rem 0.9rem 0rem;

        .text-field-Er1 {
          top: 0;
          box-sizing: border-box;
          padding-bottom: 2.5rem;
          width: 52.8rem;
          height: 11.2rem;
          position: absolute;
          left: 0;

          .frame-243-mb3 {
            width: 51.9137rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #666666;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.4rem;
            height: 2.7rem;
          }
          .text-field-fwK {
            height: 5.6rem;
            overflow: hidden;
            position: relative;
            border: solid 0.1rem rgba(102, 102, 102, 0.349999994);
            box-sizing: border-box;
            border-radius: 1.2rem;
            width: 100%;
          }
        }
        .text-field-CAZ {
          row-gap: 0.4rem;
          display: flex;
          flex-direction: column;
          width: 52.8rem;
          height: 11.2rem;
          position: absolute;
          left: 0;
          top: 23.3rem;

          .frame-243-84D {
            align-items: flex-start;
            flex-shrink: 0;
            margin-right: 0.8863rem;
            width: calc(100% - 0.8863rem);
            height: 2.7rem;
            display: flex;

            .label-qzD {
              line-height: 1.5;
              color: #666666;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 30.1137rem;
              font-size: 1.6rem;
              font-weight: 400;
            }
            .password-hide-see-mss {
              padding-left: 0.2914rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;

              .icon-uDP {
                margin: 0.302rem 1.09rem 0rem 0rem;
                width: 1.8187rem;
                height: 1.5996rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .hide-cNh {
                white-space: nowrap;
                flex-shrink: 0;
                text-align: right;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.5;
                color: rgba(102, 102, 102, 0.8000000119);
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
          .text-field-Knu {
            height: 5.6rem;
            overflow: hidden;
            position: relative;
            border: solid 0.1rem rgba(102, 102, 102, 0.349999994);
            box-sizing: border-box;
            border-radius: 1.2rem;
            flex-shrink: 0;
            width: 100%;
          }
          .error-message-rXw {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ee1d52;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
          }
        }
        .password-must-be-at-least-8-characters-long-password-must-contain-at-least-one-upper-case-one-lower-case-letter-password-must-contain-at-least-one-number-or-special-character-BKK {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.7999998728;
          font-style: italic;
          font-family: DM Sans, 'Source Sans Pro';
          height: 17.3rem;
          position: absolute;
          left: 0;
          top: 6.331rem;
          display: flex;
          color: #3c3c3c;
          width: 30.1rem;
        }
      }
      .button-D17 {
        width: calc(100% - 30.4026rem);
        font-weight: 500;
        color: #ffffff;
        box-shadow: 0 1.6rem 6rem rgba(134, 109, 201, 0.1599999964);
        margin: 0rem 18.403rem 1.759rem 12rem;
        line-height: 1.3025;
        font-family: DM Sans, 'Source Sans Pro';
        align-items: center;
        flex-shrink: 0;
        height: 4.6413rem;
        text-align: center;
        font-size: 2rem;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        border-radius: 2rem;
        background-color: #5c338c;
      }
      .button-D9X {
        font-family: DM Sans, 'Source Sans Pro';
        box-shadow: 0 1.6rem 6rem rgba(78, 79, 114, 0.0799999982);
        flex-shrink: 0;
        width: calc(100% - 49.5rem);
        font-weight: 500;
        display: flex;
        justify-content: center;
        line-height: 1.3025;
        white-space: nowrap;
        text-align: center;
        color: #321d81;
        margin: 0rem 27.9rem 0rem 21.6rem;
        height: 2.7rem;
        font-size: 2rem;
        align-items: center;
      }
    }
    .scrollbar-Qzh {
      box-sizing: border-box;
      align-items: center;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      background-color: #f1f1f1;
      padding: 0.7rem 0.204rem 0.7rem 0.2rem;
      width: 1.7035rem;
      row-gap: 48.8rem;

      .arrow-vi9 {
        vertical-align: top;
        flex-shrink: 0;
        width: 0.7rem;
        height: 0.4rem;
        object-fit: contain;
      }
      .thumb-stH {
        width: 100%;
        height: 2.5rem;
        background-color: #c1c1c1;
        flex-shrink: 0;
      }
      .arrow-DBT {
        width: 0.7rem;
        height: 0.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
