
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.flashcards-ryan-FKT {
  background-color: #ebdfd7;
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;

  .menu-MdP {
    height: 108rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #060606;
    box-sizing: border-box;
    padding: 3rem 0rem 3rem 3rem;
    width: 27.5rem;

    .auto-group-ecc4-TwK {
      position: relative;
      margin: 0rem 0rem 5.8rem 0.9rem;
      width: 23.6rem;
      height: 5.2rem;

      .frame-1171275843-xNH {
        position: absolute;
        vertical-align: top;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        left: 20.6rem;
        top: 0;
        object-fit: contain;
        border-radius: 1.7rem;
      }
      .white-text-1-3Pj {
        width: 20.7rem;
        height: 4.1rem;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 1.1rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .button-MvD {
      align-items: center;
      border-radius: 2.4rem;
      margin: 0rem 6.1rem 6rem 0rem;
      padding: 0.7rem 2.4rem 0.7rem 0.7rem;
      width: calc(100% - 6.1rem);
      cursor: pointer;
      display: flex;
      background-color: #ffffff;
      box-sizing: border-box;

      .frame-1171275840-fg1 {
        object-fit: contain;
        vertical-align: top;
        border-radius: 2.4rem;
        flex-shrink: 0;
        margin-right: 1rem;
        width: 3.4rem;
        height: 3.4rem;
      }
      .create-new-project-CA9 {
        line-height: 1.025;
        color: #171717;
        font-family: Epilogue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .frame-1171275841-3wT {
      display: flex;
      flex-direction: column;
      margin-bottom: 25.6659rem;
      width: 18.4rem;
      align-items: center;

      .expand-tab-PVX {
        padding: 1.415rem 5.5rem 1.415rem 1.715rem;
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 2.4rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .icons-7gR {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.7146rem;
          width: 1.9708rem;
          height: 1.9708rem;
          object-fit: contain;
        }
        .dashboard-fC9 {
          font-size: 1.4rem;
          font-weight: 400;
          color: #ffffff;
          font-family: Epilogue, 'Source Sans Pro';
          margin-top: 0.1rem;
          cursor: pointer;
          line-height: 1.025;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-c2wg-NcM {
        width: 100%;
        row-gap: 1rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 6.8rem 0rem 15.934rem 0rem;

        .expand-tab-Tdo {
          box-sizing: border-box;
          padding: 1.415rem 3rem 1.415rem 1.715rem;
          width: calc(100% - 2.4rem);
          display: flex;
          background-color: #ffffff;
          margin-right: 2.4rem;
          align-items: center;
          border-radius: 2.4rem;
          flex-shrink: 0;

          .icons-jbK {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.7146rem;
            width: 1.9708rem;
            height: 1.9708rem;
          }
          .dashboard-UYu {
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.025;
            color: #5c338c;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .expand-tab-xiy {
          box-sizing: border-box;
          padding: 1.415rem 6.7rem 1.415rem 1.715rem;
          width: calc(100% - 2.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 2.4rem;

          .icons-HFT {
            height: 1.9708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.7146rem;
            width: 1.9708rem;
          }
          .dashboard-2D3 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.025;
            color: #f1f1f1;
            font-family: Epilogue, 'Source Sans Pro';
          }
        }
        .expand-tab-9Hf {
          box-sizing: border-box;
          padding: 1.415rem 4.8rem 1.415rem 1.714rem;
          width: calc(100% - 2.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 2.4rem;

          .icons-5BK {
            margin-right: 1.7147rem;
            width: 1.9708rem;
            height: 1.9708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .dashboard-DoK {
            flex-shrink: 0;
            margin-top: 0.0999rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.025;
            color: #f1f1f1;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .expand-tab-Med {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 2.4rem;
          box-sizing: border-box;
          padding: 1.478rem 7.5rem 1.475rem 1.806rem;
          width: calc(100% - 2.4rem);
          cursor: pointer;

          .icons-t8m {
            margin-right: 1.8063rem;
            width: 1.7875rem;
            height: 1.8469rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .dashboard-yvu {
            font-weight: 400;
            line-height: 1.025;
            color: #f1f1f1;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.0966rem;
            font-size: 1.4rem;
          }
        }
      }
    }
    .frame-1171275853-KE5 {
      object-fit: contain;
      vertical-align: top;
      border-radius: 4.8rem;
      width: 4.8rem;
      height: 4.8rem;
    }
  }
  .vector-914-ouw {
    vertical-align: top;
    width: 118rem;
    height: 0;
    position: absolute;
    left: 26rem;
    top: 9.4rem;
    object-fit: contain;
  }
  .frame-1171275854-9D7 {
    align-items: center;
    width: 112rem;
    height: 4.8rem;
    position: absolute;
    left: 29rem;
    top: 2.3rem;
    display: flex;

    .dashboard-H4R {
      margin-right: 34.9rem;
      font-weight: 400;
      line-height: 1.025;
      font-family: Epilogue, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      font-size: 3.2rem;
      letter-spacing: 0.016rem;
      color: #000606;
      flex-shrink: 0;
    }
    .frame-1171275852-kih {
      height: 100%;
      display: flex;
      column-gap: 1rem;
      align-items: center;
      flex-shrink: 0;

      .frame-1171275846-soK {
        padding: 1.415rem 1.415rem 1.415rem 1.415rem;
        width: 33.5rem;
        height: 100%;
        box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.0199999996);
        background-color: #ffffff;
        border-radius: 5.5rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .frame-1171275845-n9b {
          width: 18.1854rem;
          height: 100%;
          display: flex;
          align-items: center;

          .icons-i3F {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.5146rem;
            width: 1.9708rem;
            height: 1.9708rem;
          }
          .search-for-anything-ehb {
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.025;
            color: rgba(6, 6, 6, 0.400000006);
          }
        }
      }
      .frame-1171275847-vf7 {
        width: 4.8rem;
        height: 4.8rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 5.5rem;
        flex-shrink: 0;
      }
      .frame-1171275851-Efo {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 2rem 0.5rem 0.5rem;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border-radius: 2.4rem;

        .ellipse-3226-aDs {
          background-size: 105.023% 105.023%;
          background-position: -0.0673rem -0.1751rem;
          background-image: url('REPLACE_IMAGE:44ce677a3a8bdf19c7b4f7e27422dcf2c356ae9e');
          border-radius: 1.9rem;
          margin-right: 1rem;
          width: 3.8rem;
          height: 3.8rem;
          box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.0199999996);
          flex-shrink: 0;

          .ellipse-3226-aDs-bg {
            height: 3.8rem;
            position: relative;
            background-image: url('REPLACE_IMAGE:44ce677a3a8bdf19c7b4f7e27422dcf2c356ae9e');
            width: 3.8rem;
          }
        }
        .frame-1171275855-o6d {
          flex-shrink: 0;
          margin: 0.4rem 0rem 0.3rem 0rem;
          box-sizing: border-box;
          padding-right: 0.2545rem;
          height: calc(100% - 0.7rem);
          display: flex;
          align-items: center;

          .frame-1171275849-KKs {
            margin-right: 1.6545rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .user-name-549 {
              color: #292d32;
              font-family: Epilogue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.3rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.025;
            }
            .university-name-bHP {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.025;
              color: rgba(41, 45, 50, 0.4399999976);
              font-family: Epilogue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .icons-8HK {
            width: 0.8909rem;
            height: 0.5091rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
          }
        }
      }
    }
  }
  .frame-1171275879-EbF {
    position: absolute;
    left: 30.2rem;
    top: 10.6rem;
    display: flex;
    align-items: center;
    width: 112rem;
    height: 3.4rem;

    .flash-cards-mbB {
      color: #060606;
      flex-shrink: 0;
      margin-right: 83.5rem;
      display: flex;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 1.025;
      letter-spacing: 0.022rem;
      font-family: Epilogue, 'Source Sans Pro';
      white-space: nowrap;
    }
    .frame-1171275877-tQu {
      border-radius: 1.7rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.95rem 1.4rem 0.95rem 1.4rem;
      width: 14rem;
      height: 100%;
      background-color: #ffffff;

      .frame-1171275878-d7b {
        box-sizing: border-box;
        padding-right: 0.2545rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .last-30-days-4To {
          margin-right: 1.4545rem;
          display: flex;
          font-size: 1.4rem;
          font-weight: 400;
          color: #060606;
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1.025;
          letter-spacing: 0.014rem;
          font-family: Epilogue, 'Source Sans Pro';
        }
        .icons-BoK {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0rem;
          width: 0.8909rem;
          height: 0.5091rem;
        }
      }
    }
  }
  .todo-mix-UnR {
    background-color: #fff0ee;
    cursor: pointer;
    position: absolute;
    flex-direction: column;
    height: 83.5rem;
    align-items: center;
    border-radius: 2.4rem;
    left: 32.1rem;
    top: 20.2rem;
    box-shadow: 1.2rem 1.2rem 0 #33322e;
    box-sizing: border-box;
    padding: 1.6rem 0rem 48.952rem 0rem;
    width: 29.1rem;
    display: flex;
    border: solid 0.4rem #33322e;

    .group-1-Z3B {
      border-radius: 3.6rem;
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .todo-WUD {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 0.897rem 2.5rem;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2;
        color: #33322e;
        font-family: Roboto, 'Source Sans Pro';
      }
      .vector-1Qy {
        height: 0.0501rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 3.6rem;
        flex-shrink: 0;
        width: 29.1rem;
      }
    }
    .auto-group-8q5a-4PF {
      margin: 0 2.15rem;
      width: calc(100% - 4.3rem);
      height: 26.8rem;
      flex-shrink: 0;

      .empty-space-CEZ {
        opacity: 0;
        width: 100%;
        height: 0.2rem;
        background-color: rgba(249, 243, 229, 0);
      }
    }
  }
  .todo-mix-UC5 {
    flex-direction: column;
    border-radius: 2.4rem;
    cursor: pointer;
    align-items: center;
    box-shadow: 1.2rem 1.2rem 0 #33322e;
    position: absolute;
    top: 20.9rem;
    display: flex;
    background-color: #fff0ee;
    box-sizing: border-box;
    padding: 1.6rem 0rem 47.252rem 0rem;
    height: 81.8rem;
    width: 29.1rem;
    left: 70.4rem;
    border: solid 0.4rem #33322e;

    .group-1-ZzD {
      border-radius: 3.6rem;
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .todo-XAM {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2;
        color: #33322e;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 0.897rem 2.5rem;
      }
      .vector-T41 {
        border-radius: 3.6rem;
        flex-shrink: 0;
        width: 29.1rem;
        height: 0.0501rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-41m6-ZMw {
      margin: 0 2.15rem;
      width: calc(100% - 4.3rem);
      height: 26.8rem;
      flex-shrink: 0;

      .empty-space-t9K {
        opacity: 0;
        width: 100%;
        height: 0.2rem;
        background-color: rgba(249, 243, 229, 0);
      }
    }
  }
  .scrollbar-B8R {
    flex-direction: column;
    box-sizing: border-box;
    padding: 0.7rem 0.2rem 0.7rem 0.2rem;
    height: 107.3rem;
    position: absolute;
    left: 142.2rem;
    top: 0.6rem;
    display: flex;
    background-color: #f1f1f1;
    width: 1.7rem;
    row-gap: 51.3rem;
    align-items: center;

    .arrow-T5w {
      vertical-align: top;
      flex-shrink: 0;
      width: 0.7rem;
      height: 0.4rem;
      object-fit: contain;
    }
    .thumb-oQh {
      width: 100%;
      height: 2.5rem;
      background-color: #c1c1c1;
      flex-shrink: 0;
    }
    .arrow-w17 {
      width: 0.7rem;
      height: 0.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
