
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.forgot-your-password-dinal-6n1 {
  height: 125.5rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .background-C4M {
    height: 125.4rem;
    position: absolute;
    left: 0;
    top: 0.1rem;
    overflow: hidden;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #d9bcec;
    width: 144rem;
  }
  .backdrop-hWu {
    width: 144rem;
    position: absolute;
    overflow: hidden;
    align-items: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding-right: 0.2rem;
    height: 125.4rem;
    left: 0;
    top: 0.1rem;
    display: flex;
    background-color: rgba(17, 17, 17, 0.25);

    .auto-group-rddn-zW1 {
      width: 142.1rem;
      height: 100%;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.285rem 3.4rem 25.983rem 3.4rem;

      .group-8-trH {
        vertical-align: top;
        margin-bottom: 21.3182rem;
        width: 3.7rem;
        height: 3.7963rem;
        cursor: pointer;
        object-fit: contain;
      }
      .sign-up-overlay-1R7 {
        align-items: center;
        display: flex;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 3.2rem 0rem 3.346rem 12.9rem;
        overflow: hidden;
        position: relative;
        border-radius: 2.4rem;
        margin: 0rem 26rem 0rem 27.9rem;
        width: calc(100% - 53.9rem);
        flex-direction: column;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .icons-sCR {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 2.087rem 58.9rem;
          width: 3.2rem;
          height: 3.2rem;
          object-fit: contain;
        }
        .black-text-1-CVb {
          margin: 0rem 13.7rem 1.9rem 0rem;
          width: 29.8rem;
          height: 4.9rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .forgot-password-7cZ {
          flex-shrink: 0;
          justify-content: center;
          line-height: 1.5;
          color: #333333;
          white-space: nowrap;
          font-weight: 500;
          font-family: Poppins, 'Source Sans Pro';
          margin: 0rem 13.7rem 3.6rem 0rem;
          display: flex;
          align-items: center;
          font-size: 3.2rem;
        }
        .label-DQh {
          margin: 0rem 13.7rem 1.5rem 0rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #5c338c;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .input-WPo {
          border: solid 0.1rem #949494;
          border-radius: 0.4rem;
          box-sizing: border-box;
          padding: 1.211rem 1.279rem 1.189rem 1.2rem;
          width: calc(100% - 10rem);
          height: 4.8rem;
          display: flex;
          align-items: center;
          margin: 0rem 10rem 1.9rem 0rem;
          background-color: #ffffff;
          flex-shrink: 0;

          .auto-group-9cbv-odo {
            margin-right: 0.4793rem;
            box-sizing: border-box;
            padding-left: 1rem;
            white-space: nowrap;
            line-height: 1.3025;
            letter-spacing: -0.1rem;
            font-style: italic;
            color: #3c3c3c;
            flex-shrink: 0;
            height: 100%;
            font-size: 1.8rem;
            display: flex;
            font-weight: 400;
            font-family: DM Sans, 'Source Sans Pro';
          }
          .inside-icon-container-HJ5 {
            margin-bottom: 0.0004rem;
            width: 1.4414rem;
            height: 0.8621rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .button-mDF {
          font-weight: 500;
          justify-content: center;
          margin: 0rem 25.2rem 2.37rem 10.4rem;
          font-size: 2rem;
          line-height: 1.3025;
          color: #ffffff;
          border-radius: 2rem;
          box-shadow: 0 1.6rem 6rem rgba(134, 109, 201, 0.1599999964);
          width: calc(100% - 35.6rem);
          text-align: center;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
          background-color: #5c338c;
          height: 5.5645rem;
          flex-shrink: 0;
        }
        .auto-group-7fky-bCH {
          margin: 0rem 0rem 2.182rem 6.5rem;
          width: 82.7rem;
          height: 12.1276rem;
          position: relative;
          flex-shrink: 0;

          .text-field-hFK {
            width: 66.5rem;
            height: 11.2rem;
            position: absolute;
            left: 16.2rem;
            top: 0;

            .frame-243-DUZ {
              width: 51.9137rem;
              height: 2.7rem;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              margin: 0rem 14.586rem 8.5rem 0rem;
              font-size: 1.6rem;
              font-weight: 400;
              color: #5c338c;
              white-space: nowrap;
            }
          }
          .button-HUR {
            height: 6.7314rem;
            position: absolute;
            left: 4.5rem;
            top: 5.3962rem;
            box-shadow: 0 1.6rem 6rem rgba(134, 109, 201, 0.1599999964);
            border-radius: 0.4rem;
            width: 31.8433rem;

            .group-21-cWh {
              width: 100%;
              height: 100%;
              align-items: flex-end;
              display: flex;
              flex-direction: column;
              border-radius: 0.4rem;

              .group-1-9Wd {
                box-sizing: border-box;
                padding-right: 0rem;
                width: 100%;
                display: flex;
                align-items: center;
                border-radius: 0.4rem;
                flex-shrink: 0;
                margin-bottom: 1.0723rem;

                .rectangle-4-5v5 {
                  border-radius: 0.4rem;
                  flex-shrink: 0;
                  margin-right: 1.0239rem;
                  width: 4.454rem;
                  height: 3.9591rem;
                  border: solid 0.1rem #949494;
                  box-sizing: border-box;
                  background-color: #ffffff;
                }
                .rectangle-4-obB {
                  width: 4.454rem;
                  height: 3.9591rem;
                  border: solid 0.1rem #949494;
                  box-sizing: border-box;
                  background-color: #ffffff;
                  border-radius: 0.4rem;
                  flex-shrink: 0;
                  margin-right: 1.0239rem;
                }
                .rectangle-4-XXB {
                  border: solid 0.1rem #949494;
                  box-sizing: border-box;
                  background-color: #ffffff;
                  border-radius: 0.4rem;
                  flex-shrink: 0;
                  margin-right: 1.0239rem;
                  width: 4.454rem;
                  height: 3.9591rem;
                }
                .rectangle-4-pWH {
                  background-color: #ffffff;
                  border-radius: 0.4rem;
                  flex-shrink: 0;
                  margin-right: 1.0239rem;
                  width: 4.454rem;
                  height: 3.9591rem;
                  border: solid 0.1rem #949494;
                  box-sizing: border-box;
                }
                .rectangle-4-YSH {
                  border: solid 0.1rem #949494;
                  box-sizing: border-box;
                  background-color: #ffffff;
                  border-radius: 0.4rem;
                  flex-shrink: 0;
                  margin-right: 1.0239rem;
                  width: 4.454rem;
                  height: 3.9591rem;
                }
                .rectangle-4-GdB {
                  background-color: #ffffff;
                  border-radius: 0.4rem;
                  flex-shrink: 0;
                  width: 4.454rem;
                  height: 3.9591rem;
                  border: solid 0.1rem #949494;
                  box-sizing: border-box;
                }
              }
              .label-ynV {
                margin-right: 0rem;
                font-size: 1.4rem;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                text-align: right;
                font-weight: 400;
                color: #191919;
                white-space: nowrap;
              }
            }
          }
          .enter-otp-one-tone-password-sent-to-useremailcom-ds3 {
            left: 0;
            line-height: 1.3025;
            font-style: italic;
            font-family: DM Sans, 'Source Sans Pro';
            height: 2.4rem;
            top: 2.1141rem;
            letter-spacing: -0.1rem;
            white-space: nowrap;
            width: 41.9rem;
            display: flex;
            font-size: 1.8rem;
            position: absolute;
            font-weight: 400;
            color: #3c3c3c;
          }
        }
        .button-U6y {
          width: calc(100% - 42.0834rem);
          text-align: center;
          border-radius: 2rem;
          flex-shrink: 0;
          margin: 0rem 28.413rem 1.872rem 13.67rem;
          height: 4.7839rem;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          justify-content: center;
          font-size: 2rem;
          font-weight: 500;
          align-items: center;
          background-color: #5c338c;
          box-shadow: 0 1.6rem 6rem rgba(134, 109, 201, 0.1599999964);
          line-height: 1.3025;
          color: #ffffff;
        }
        .button-WJZ {
          font-size: 2rem;
          font-weight: 500;
          color: #ffffff;
          align-items: center;
          background-color: #5c338c;
          display: flex;
          text-align: center;
          line-height: 1.3025;
          white-space: nowrap;
          justify-content: center;
          flex-shrink: 0;
          box-shadow: 0 1.6rem 6rem rgba(134, 109, 201, 0.1599999964);
          margin: 0rem 28.413rem 0rem 13.67rem;
          width: calc(100% - 42.0834rem);
          height: 4.7839rem;
          font-family: DM Sans, 'Source Sans Pro';
          border-radius: 2rem;
        }
      }
    }
    .scrollbar-4Db {
      width: 1.7rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.7rem 0.2rem 0.7rem 0.2rem;
      align-items: center;
      background-color: #f1f1f1;

      .arrow-n9b {
        height: 0.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 60.3rem;
        width: 0.7rem;
      }
      .thumb-vFo {
        flex-shrink: 0;
        margin-bottom: 60.4rem;
        width: 100%;
        height: 2.5rem;
        background-color: #c1c1c1;
      }
      .arrow-4so {
        vertical-align: top;
        flex-shrink: 0;
        width: 0.7rem;
        height: 0.4rem;
        object-fit: contain;
      }
    }
  }
}
