
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.lecture-notes-preview-ryan-ns7 {
  overflow: hidden;
  background-color: #ebdfd7;
  width: 100%;
  height: 108rem;
  position: relative;

  .menu-fg1 {
    height: 108rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #060606;
    width: 31.7rem;

    .button-zTP {
      cursor: pointer;
      position: absolute;
      left: 0;
      align-items: center;
      box-sizing: border-box;
      width: 18.4rem;
      height: 4.8rem;
      border-radius: 2.4rem;
      padding: 0.7rem 2.4rem 0.7rem 0.7rem;
      top: 14rem;
      display: flex;

      .frame-1171275840-4CM {
        object-fit: contain;
        vertical-align: top;
        border-radius: 2.4rem;
        flex-shrink: 0;
        margin-right: 1rem;
        width: 3.4rem;
        height: 3.4rem;
      }
      .create-new-project-BXs {
        color: #171717;
        font-family: Epilogue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.025;
      }
    }
    .frame-1171275841-UG5 {
      height: 49.7341rem;
      position: absolute;
      left: 0;
      top: 24.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 18.4rem;

      .expand-tab-zVK {
        align-items: center;
        border-radius: 2.4rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.415rem 5.5rem 1.415rem 1.715rem;
        width: 100%;
        cursor: pointer;
        display: flex;

        .icons-KnV {
          margin-right: 1.7146rem;
          width: 1.9708rem;
          height: 1.9708rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .dashboard-bzu {
          font-size: 1.4rem;
          font-weight: 400;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          cursor: pointer;
          line-height: 1.025;
          color: #ffffff;
          flex-shrink: 0;
          margin-top: 0.1rem;
        }
      }
      .auto-group-eewq-VKb {
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem 0rem 10.134rem 0rem;
        width: 100%;
        display: flex;

        .expand-tab-1Yq {
          margin: 0rem 2.4rem 1rem 0rem;
          box-sizing: border-box;
          padding: 1.415rem 0.2rem 1.415rem 1.737rem;
          width: calc(100% - 2.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          border-radius: 2.4rem;
          flex-shrink: 0;

          .icons-MFK {
            width: 1.9251rem;
            height: 1.9708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.7374rem;
          }
          .dashboard-6To {
            margin-top: 0.1rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.025;
            color: #5c338c;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .expand-tab-Lsw {
          padding: 1.552rem 0.7rem 1.552rem 1.806rem;
          width: calc(100% - 2.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 2.4rem 2.3rem 0rem;
          box-sizing: border-box;

          .icons-rbP {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.8063rem;
            width: 1.7875rem;
            height: 1.6958rem;
            object-fit: contain;
          }
          .dashboard-CfF {
            line-height: 1.025;
            font-family: Epilogue, 'Source Sans Pro';
            margin-top: 0.1rem;
            font-size: 1.4rem;
            color: #f1f1f1;
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-weight: 400;
          }
        }
        .expand-tab-WR3 {
          margin: 0rem 5.4rem 2.3rem 1.6rem;
          width: calc(100% - 7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icons-Erq {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.6rem;
            width: 2.2rem;
            height: 2.2rem;
            cursor: pointer;
            object-fit: contain;
          }
          .dashboard-ypR {
            line-height: 1.025;
            color: #f1f1f1;
            flex-shrink: 0;
            margin-top: 0.1rem;
            cursor: pointer;
            font-size: 1.4rem;
            font-weight: 400;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .expand-tab-GoX {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 2.4rem 1rem 0rem;
          box-sizing: border-box;
          padding: 1.3rem 6.7rem 1.3rem 1.6rem;
          width: calc(100% - 2.4rem);
          cursor: pointer;
          display: flex;

          .icons-9sK {
            width: 2.2rem;
            height: 2.2rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.6rem;
          }
          .dashboard-Gh3 {
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.025;
            color: #f1f1f1;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .expand-tab-cF7 {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 2.4rem 1rem 0rem;
          box-sizing: border-box;
          padding: 1.415rem 4.8rem 1.415rem 1.714rem;
          width: calc(100% - 2.4rem);
          cursor: pointer;

          .icons-i3F {
            width: 1.9708rem;
            height: 1.9708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.7147rem;
          }
          .dashboard-exV {
            font-weight: 400;
            line-height: 1.025;
            color: #f1f1f1;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.0999rem;
            font-size: 1.4rem;
          }
        }
        .auto-group-8r3a-zWZ {
          flex-shrink: 0;
          width: 16.3rem;
          height: 4.8rem;

          .expand-tab-XmP {
            padding: 1.478rem 7.5rem 1.475rem 1.806rem;
            width: 16rem;
            height: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            box-sizing: border-box;

            .icons-e5K {
              margin-right: 1.8063rem;
              width: 1.7875rem;
              height: 1.8469rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .dashboard-AJZ {
              margin-top: 0.0966rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.025;
              color: #f1f1f1;
              font-family: Epilogue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .menu-VLq {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #060606;
      box-sizing: border-box;
      padding: 2.6rem 0rem 3rem 0rem;
      width: 31.7rem;
      height: 108rem;

      .auto-group-m7ve-cAZ {
        margin: 0rem 0rem 3.9rem 6.4rem;
        width: 25.3rem;
        height: 7.5rem;

        .auto-group-126p-vBF {
          margin-right: 17.8rem;
          width: 7.5rem;
          height: 100%;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:11ee90e1ebd55a47fa23ca4da7a3bd347cdca180');

          .logo-white-1-f8q {
            vertical-align: top;
            width: 7.5rem;
            height: 7.5rem;
            cursor: pointer;
            object-fit: cover;
          }
        }
      }
      .auto-group-wy24-8YD {
        width: 18.4rem;
        height: 5.8rem;
        position: relative;
        margin-bottom: 4.2rem;

        .button-4gm {
          left: 0;
          top: 0;
          border-radius: 2.4rem;
          padding: 0.7rem;
          cursor: pointer;
          position: absolute;
          box-sizing: border-box;
          width: 18.4rem;
          height: 4.8rem;

          .frame-1171275840-o8Z {
            width: 3.4rem;
            height: 3.4rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 2.4rem;
            margin-right: 13.6rem;
          }
        }
        .frame-1171275840-iFX {
          top: 2.4rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 2.4rem;
          width: 3.4rem;
          height: 3.4rem;
          position: absolute;
          left: 3.8rem;
        }
      }
      .auto-group-iqpx-AdK {
        margin: 0rem 0rem 25.666rem 1.715rem;
        width: 23.8854rem;
        height: 50.5341rem;
        position: relative;

        .frame-1171275841-rFF {
          width: 14.5854rem;
          height: 13.5195rem;
          position: absolute;
          left: 0;
          top: 37.0146rem;
        }
        .expand-tab-BoK {
          height: 4.8rem;
          cursor: pointer;
          position: absolute;
          left: 2.7rem;
          top: 42.1rem;
          box-sizing: border-box;
          padding: 1.478rem 1.806rem 1.475rem 1.806rem;
          width: 16rem;

          .icons-5th {
            height: 1.8469rem;
            object-fit: contain;
            vertical-align: top;
            margin-right: 10.6rem;
            width: 1.7875rem;
          }
        }
        .expand-tab-oZo {
          position: absolute;
          left: 2.7rem;
          top: 32.9rem;
          box-sizing: border-box;
          padding: 1.415rem 1.714rem 1.415rem 1.714rem;
          width: 16rem;
          height: 4.8rem;
          cursor: pointer;

          .icons-iAy {
            margin-right: 10.6003rem;
            width: 1.9708rem;
            height: 1.9708rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .expand-tab-oiD {
          height: 4.8rem;
          cursor: pointer;
          position: absolute;
          left: 2.7rem;
          top: 24.8rem;
          box-sizing: border-box;
          padding: 1.3rem 1.6rem;
          width: 16rem;

          .icons-vXw {
            height: 2.2rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            margin-right: 10.6rem;
            width: 2.2rem;
          }
        }
        .expand-tab-4u3 {
          box-sizing: border-box;
          padding: 1.552rem 1.806rem 1.552rem 1.806rem;
          width: 16rem;
          height: 4.8rem;
          cursor: pointer;
          position: absolute;
          left: 2.7rem;
          top: 7.3rem;

          .icons-Bim {
            object-fit: contain;
            vertical-align: top;
            margin-right: 10.6rem;
            width: 1.7875rem;
            height: 1.6958rem;
          }
        }
        .expand-tab-4Xf {
          width: 16rem;
          height: 4.8rem;
          position: absolute;
          left: 2.7rem;
          top: 8.5rem;
          border-radius: 2.4rem;
        }
        .expand-tab-bGh {
          position: absolute;
          left: 2.7rem;
          padding: 1.415rem 1.715rem 1.415rem 1.715rem;
          height: 4.8rem;
          cursor: pointer;
          top: 0;
          border-radius: 2.4rem;
          box-sizing: border-box;
          width: 18.4rem;

          .icons-h4q {
            width: 1.9708rem;
            height: 1.9708rem;
            object-fit: contain;
            vertical-align: top;
            margin-right: 13rem;
          }
        }
      }
      .auto-group-rwtz-chb {
        margin-left: 7.2rem;
        width: 4.8rem;
        height: 4.8rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .vector-914-9Bj {
    object-fit: contain;
    vertical-align: top;
    width: 118rem;
    height: 0;
    position: absolute;
    left: 26rem;
    top: 9.4rem;
  }
  .frame-1171275854-QdT {
    top: 2.3rem;
    display: flex;
    align-items: center;
    width: 112rem;
    height: 4.8rem;
    position: absolute;
    left: 29rem;

    .dashboard-LX7 {
      color: #000606;
      font-family: Epilogue, 'Source Sans Pro';
      margin-right: 34.9rem;
      display: flex;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.025;
      letter-spacing: 0.016rem;
      flex-shrink: 0;
      white-space: nowrap;
    }
    .frame-1171275852-S4M {
      display: flex;
      column-gap: 1rem;
      align-items: center;
      flex-shrink: 0;
      height: 100%;

      .frame-1171275846-ya5 {
        height: 100%;
        box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.0199999996);
        background-color: #ffffff;
        border-radius: 5.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.415rem 1.415rem 1.415rem 1.415rem;
        width: 33.5rem;

        .frame-1171275845-7AV {
          align-items: center;
          width: 18.1854rem;
          height: 100%;
          display: flex;

          .icons-rds {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.5146rem;
            width: 1.9708rem;
            height: 1.9708rem;
          }
          .search-for-anything-nXX {
            font-weight: 400;
            line-height: 1.025;
            color: rgba(6, 6, 6, 0.400000006);
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.4rem;
          }
        }
      }
      .frame-1171275847-Fvu {
        height: 4.8rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 5.5rem;
        flex-shrink: 0;
        width: 4.8rem;
      }
      .frame-1171275851-zdb {
        background-color: #ffffff;
        border-radius: 2.4rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 2rem 0.5rem 0.5rem;
        height: 100%;
        display: flex;
        align-items: center;

        .ellipse-3226-jbB {
          margin-right: 1rem;
          width: 3.8rem;
          box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.0199999996);
          background-size: 105.023% 105.023%;
          background-position: -0.0673rem -0.1751rem;
          flex-shrink: 0;
          height: 3.8rem;
          background-image: url('REPLACE_IMAGE:44ce677a3a8bdf19c7b4f7e27422dcf2c356ae9e');
          border-radius: 1.9rem;

          .ellipse-3226-jbB-bg {
            height: 3.8rem;
            position: relative;
            background-image: url('REPLACE_IMAGE:44ce677a3a8bdf19c7b4f7e27422dcf2c356ae9e');
            width: 3.8rem;
          }
        }
        .frame-1171275855-7Lq {
          align-items: center;
          flex-shrink: 0;
          margin: 0.4rem 0rem 0.3rem 0rem;
          box-sizing: border-box;
          padding-right: 0.2545rem;
          height: calc(100% - 0.7rem);
          display: flex;

          .frame-1171275849-2ih {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 1.6545rem;

            .user-name-P3T {
              margin-bottom: 0.3rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.025;
              color: #292d32;
              font-family: Epilogue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .university-name-hK3 {
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.025;
              color: rgba(41, 45, 50, 0.4399999976);
              font-family: Epilogue, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .icons-2cD {
            height: 0.5091rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            width: 0.8909rem;
          }
        }
      }
    }
  }
  .scrollbar-wjB {
    align-items: center;
    display: flex;
    padding: 0.7rem 0.2rem 0.7rem 0.2rem;
    width: 1.7rem;
    height: 107.3rem;
    position: absolute;
    flex-direction: column;
    background-color: #f1f1f1;
    box-sizing: border-box;
    left: 142.3rem;
    top: 0.7rem;
    row-gap: 51.3rem;

    .arrow-Dgh {
      vertical-align: top;
      flex-shrink: 0;
      width: 0.7rem;
      height: 0.4rem;
      object-fit: contain;
    }
    .thumb-Arq {
      width: 100%;
      height: 2.5rem;
      background-color: #c1c1c1;
      flex-shrink: 0;
    }
    .arrow-XSV {
      width: 0.7rem;
      height: 0.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .todo-weekly-FNV {
    left: 14.2rem;
    align-items: center;
    border-radius: 2.4rem;
    padding: 1.6rem 2.42rem 0.4rem 2.42rem;
    border: solid 0.4rem #33322e;
    display: flex;
    flex-direction: column;
    background-color: #f9f3e5;
    width: 124.5rem;
    height: 94rem;
    position: absolute;
    top: 10.1rem;
    box-shadow: 1.2rem 1.2rem 0 #33322e;
    box-sizing: border-box;

    .group-1-9im {
      display: flex;
      flex-direction: column;
      border-radius: 3.6rem;
      flex-shrink: 0;
      margin: 0rem 46.26rem 1.6rem 46.26rem;
      width: calc(100% - 92.5198rem);

      .wednesday-fBK {
        margin: 0rem 0rem 0.948rem 2.45rem;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2;
        color: #33322e;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .vector-aZB {
        width: 27.1401rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
        border-radius: 3.6rem;
        flex-shrink: 0;
      }
    }
    .auto-group-z9tg-KFs {
      box-sizing: border-box;
      padding-left: 2.58rem;
      width: 114.58rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 5.08rem;

      .empty-space-RZo {
        background-color: rgba(249, 243, 229, 0);
        flex-shrink: 0;
        margin: 0rem 42.35rem 1.752rem 44.85rem;
        opacity: 0;
        width: calc(100% - 87.2rem);
        height: 0.2rem;
      }
      .d3computergraphicsnotesfullsummarypage0-2-wY9 {
        width: 112rem;
        height: 83.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
