
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-dinal-tow {
  background-color: #ffffff;
  width: 100%;
  height: 125.5rem;
  position: relative;
  overflow: hidden;

  .background-Ecu {
    left: 0;
    top: 0.1rem;
    overflow: hidden;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #d9bcec;
    width: 144rem;
    height: 125.4rem;
    position: absolute;
  }
  .backdrop-Ydb {
    display: flex;
    align-items: flex-start;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    width: 144rem;
    left: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
    background-color: rgba(17, 17, 17, 0.25);
    box-sizing: border-box;
    padding: 0rem 0.2rem 0rem 3.4rem;
    height: 126.2rem;

    .group-8-EFX {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 3.306rem 21.4rem 0rem 0rem;
      width: 3.7rem;
      height: 3.8205rem;
      cursor: pointer;
    }
    .sign-up-overlay-kDs {
      height: calc(100% - 31.046rem);
      background-color: #ffffff;
      margin: 15.5rem 26.7rem 15.546rem 0rem;
      box-sizing: border-box;
      padding: 2.2rem 2.2rem 3.67rem 16.8rem;
      flex-direction: column;
      border-radius: 2.4rem;
      width: 86.9rem;
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      overflow: hidden;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

      .icons-Rau {
        margin: 0rem 0rem 6.6rem 64.7rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .black-text-1-7Tj {
        flex-shrink: 0;
        margin: 0rem 14.5rem 3.1rem 0rem;
        width: 35.4rem;
        height: 7.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .frame-8-dgy {
        margin: 0rem 28.5rem 2.4rem 14.2rem;
        width: calc(100% - 42.7rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .login-ZKj {
          align-items: center;
          font-size: 3.2rem;
          font-weight: 500;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0.8rem 0.4rem 0rem;
          display: flex;
          justify-content: center;
          line-height: 1.5;
          color: #333333;
          white-space: nowrap;
        }
        .already-have-an-ccount-log-in-rpd {
          display: flex;
          align-items: baseline;
          font-weight: 400;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          text-decoration-line: underline;
          color: #666666;

          .already-have-an-ccount-log-in-rpd-sub-0 {
            line-height: 1.5;
            text-decoration-line: underline;
            color: #333333;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
          }
          .already-have-an-ccount-log-in-rpd-sub-1 {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            text-decoration-line: underline;
            color: #666666;
            font-family: Poppins, 'Source Sans Pro';
          }
          .already-have-an-ccount-log-in-rpd-sub-2 {
            text-decoration-line: underline;
            color: #111111;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
      }
      .frame-288-JyT {
        margin: 0rem 15.1rem 2.3rem 0rem;
        width: 52.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-208-28m {
          margin-bottom: 4.1rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .social-media-signup-login-NiR {
            height: 7.2rem;
            position: relative;
            border: solid 0.1rem #333333;
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            padding: 2.25rem 15.25rem 2.15rem 13.55rem;
            overflow: hidden;
            background-color: #ffffff;
            border-radius: 4rem;
            box-sizing: border-box;
            width: 100%;

            .frame-277-UmT {
              align-items: center;
              width: 100%;
              height: 100%;
              display: flex;

              .social-media-logo-F1X {
                margin-right: 1.8rem;
                width: 2.8rem;
                height: 2.8rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .continue-with-facebook-N69 {
                display: flex;
                font-size: 2.2rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #333333;
                font-family: Avenir, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .social-media-signup-login-TdP {
            padding: 2.15rem 16.85rem 2.25rem 14.95rem;
            height: 7.2rem;
            overflow: hidden;
            background-color: #ffffff;
            border-radius: 4rem;
            flex-shrink: 0;
            box-sizing: border-box;
            position: relative;
            border: solid 0.1rem #333333;
            width: 100%;

            .frame-7-axu {
              display: flex;
              align-items: center;
              box-sizing: border-box;
              padding-left: 0.1501rem;
              width: 100%;
              height: 100%;

              .social-media-logo-wHf {
                margin: 0rem 1.75rem 0rem 0rem;
                width: 2.1rem;
                height: 2.1rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .continue-with-google-Tmo {
                flex-shrink: 0;
                display: flex;
                font-size: 2.2rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #333333;
                font-family: Avenir, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
        .divider-ZK3 {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .divider-guT {
            margin-right: 2.3rem;
            width: 22.35rem;
            height: 0.2rem;
            background-color: rgba(102, 102, 102, 0.25);
            flex-shrink: 0;
          }
          .or-QaZ {
            display: flex;
            font-size: 2.4rem;
            color: #666666;
            flex-shrink: 0;
            margin-right: 2.8rem;
            line-height: 1.2575;
            font-family: Avenir, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 400;
          }
          .divider-WtV {
            width: 22.35rem;
            height: 0.2rem;
            background-color: rgba(102, 102, 102, 0.25);
            flex-shrink: 0;
          }
        }
      }
      .frame-287-rSZ {
        position: relative;
        flex-shrink: 0;
        margin: 0rem 14.5rem 4.374rem 0rem;
        width: 52.8rem;
        height: 23rem;

        .text-field-nLD {
          box-sizing: border-box;
          padding-bottom: 2.5rem;
          width: 52.8rem;
          height: 11.2rem;
          position: absolute;
          left: 0;
          top: 0;

          .frame-243-hi5 {
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 0.4rem;
            width: 51.9137rem;
            height: 2.7rem;
            font-size: 1.6rem;
            line-height: 1.5;
            color: #5c338c;
            font-weight: 400;
            white-space: nowrap;
          }
          .text-field-boT {
            box-sizing: border-box;
            border-radius: 1.2rem;
            width: 100%;
            height: 5.6rem;
            overflow: hidden;
            position: relative;
            border: solid 0.1rem rgba(102, 102, 102, 0.349999994);
          }
        }
        .frame-286-Vtq {
          width: 52.8rem;
          height: 11.9rem;
          position: absolute;
          left: 0;
          top: 11.1rem;

          .text-field-pgD {
            top: 0;
            box-sizing: border-box;
            padding-bottom: 2.5rem;
            width: 52.8rem;
            height: 11.2rem;
            position: absolute;
            left: 0;

            .frame-243-m5f {
              margin: 0rem 0.886rem 0.4rem 0rem;
              width: calc(100% - 0.8863rem);
              height: 2.7rem;
              display: flex;
              align-items: flex-start;

              .label-tRB {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #5c338c;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 32.7137rem;
              }
              .password-hide-see-dNm {
                align-items: center;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-left: 0.2914rem;
                height: 100%;
                display: flex;

                .icon-aYu {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0.302rem 1.09rem 0rem 0rem;
                  width: 1.8187rem;
                  height: 1.5996rem;
                  object-fit: contain;
                }
                .hide-UPP {
                  color: rgba(102, 102, 102, 0.8000000119);
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: right;
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.5;
                }
              }
            }
            .text-field-D65 {
              border: solid 0.1rem rgba(102, 102, 102, 0.349999994);
              box-sizing: border-box;
              border-radius: 1.2rem;
              width: 100%;
              height: 5.6rem;
              overflow: hidden;
              position: relative;
            }
          }
          .forget-your-password-wGy {
            left: 35.4rem;
            top: 9.5rem;
            text-align: right;
            color: #111111;
            font-family: Poppins, 'Source Sans Pro';
            text-decoration-line: underline;
            white-space: nowrap;
            width: 17.4rem;
            height: 2.4rem;
            position: absolute;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
      }
      .button-dfb {
        flex-shrink: 0;
        width: calc(100% - 33.9052rem);
        height: 6.4099rem;
        font-weight: 500;
        font-family: DM Sans, 'Source Sans Pro';
        display: flex;
        box-shadow: 0 1.6rem 6rem rgba(134, 109, 201, 0.1599999964);
        line-height: 1.3025;
        justify-content: center;
        margin: 0rem 24.405rem 0rem 9.5rem;
        color: #ffffff;
        background-color: #5c338c;
        border-radius: 2rem;
        text-align: center;
        font-size: 2rem;
        white-space: nowrap;
        align-items: center;
      }
    }
    .scrollbar-E9b {
      box-sizing: border-box;
      flex-direction: column;
      flex-shrink: 0;
      padding: 0.7rem 0.2rem 0.7rem 0.2rem;
      width: 1.7rem;
      row-gap: 60.3rem;
      align-items: center;
      display: flex;
      background-color: #f1f1f1;

      .arrow-k7w {
        width: 0.7rem;
        height: 0.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .thumb-FaV {
        width: 100%;
        height: 2.5rem;
        background-color: #c1c1c1;
        flex-shrink: 0;
      }
      .arrow-b8Z {
        width: 0.7rem;
        height: 0.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
