
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.upload-dinal-7a5 {
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #ebdfd7;
  width: 100%;

  .menu-QZB {
    padding: 3rem 0rem 1.8rem 2.2rem;
    width: 27.5rem;
    height: 108rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #060606;
    box-sizing: border-box;

    .auto-group-rwvg-uVw {
      display: flex;
      align-items: flex-start;
      margin-bottom: 6.9rem;
      width: 100%;
      height: 4.1rem;

      .auto-group-xdec-1os {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:4d322cf6161c07a356c4f49e2538f56dc42348ab');
        flex-shrink: 0;
        margin-right: 1.6rem;
        width: 20.7rem;
        height: 100%;
      }
      .frame-1171275843-wBj {
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1.7rem;
        flex-shrink: 0;
      }
    }
    .button-dKT {
      margin: 0rem 6.1rem 6rem 0.8rem;
      align-items: center;
      background-color: #ffffff;
      border-radius: 2.4rem;
      box-sizing: border-box;
      padding: 0.7rem 2.4rem 0.7rem 0.7rem;
      width: calc(100% - 6.9rem);
      cursor: pointer;
      display: flex;

      .frame-1171275840-jNV {
        margin-right: 1rem;
        width: 3.4rem;
        height: 3.4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 2.4rem;
        flex-shrink: 0;
      }
      .create-new-project-fX3 {
        font-family: Epilogue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.025;
        color: #171717;
      }
    }
    .frame-1171275841-k2h {
      margin: 0rem 0rem 26.966rem 0.8rem;
      width: 18.4rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .expand-tab-ffT {
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 2.4rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.415rem 5.5rem 1.415rem 1.715rem;

        .icons-a1j {
          margin-right: 1.7146rem;
          width: 1.9708rem;
          height: 1.9708rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .dashboard-7GZ {
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-weight: 400;
          line-height: 1.025;
          color: #ffffff;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          cursor: pointer;
          font-size: 1.4rem;
        }
      }
      .auto-group-lnwq-DqP {
        box-sizing: border-box;
        padding: 6.8rem 0rem 15.934rem 0rem;
        width: 100%;
        row-gap: 1rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .expand-tab-j33 {
          width: calc(100% - 2.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 2.4rem;
          box-sizing: border-box;
          padding: 1.415rem 3rem 1.415rem 1.715rem;

          .icons-RgZ {
            flex-shrink: 0;
            margin-right: 1.7146rem;
            width: 1.9708rem;
            height: 1.9708rem;
            object-fit: contain;
            vertical-align: top;
          }
          .dashboard-Au3 {
            color: #f1f1f1;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.025;
          }
        }
        .expand-tab-VRX {
          box-sizing: border-box;
          padding: 1.415rem 6.7rem 1.415rem 1.715rem;
          width: calc(100% - 2.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 2.4rem;

          .icons-1uf {
            margin-right: 1.7146rem;
            width: 1.9708rem;
            height: 1.9708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .dashboard-MyX {
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.025;
            color: #f1f1f1;
            font-family: Epilogue, 'Source Sans Pro';
          }
        }
        .expand-tab-gku {
          padding: 1.415rem 4.8rem 1.415rem 1.714rem;
          width: calc(100% - 2.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 2.4rem;
          box-sizing: border-box;

          .icons-p6R {
            height: 1.9708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.7147rem;
            width: 1.9708rem;
          }
          .dashboard-hR7 {
            line-height: 1.025;
            color: #f1f1f1;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.0999rem;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
        .expand-tab-2yB {
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 2.4rem;
          box-sizing: border-box;
          padding: 1.478rem 7.5rem 1.475rem 1.806rem;
          width: calc(100% - 2.4rem);

          .icons-MVf {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.8063rem;
            width: 1.7875rem;
            height: 1.8469rem;
          }
          .dashboard-ZLq {
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.0966rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.025;
            color: #f1f1f1;
            font-family: Epilogue, 'Source Sans Pro';
          }
        }
      }
    }
    .frame-1171275853-te1 {
      vertical-align: top;
      border-radius: 4.8rem;
      width: 4.8rem;
      height: 4.7rem;
      object-fit: contain;
    }
  }
  .vector-914-c4D {
    left: 26rem;
    top: 9.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 118rem;
    height: 0;
    position: absolute;
  }
  .frame-1171275854-XBB {
    width: 112rem;
    height: 4.8rem;
    position: absolute;
    left: 29rem;
    top: 2.3rem;
    display: flex;
    align-items: center;

    .dashboard-FN5 {
      font-family: Epilogue, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-weight: 400;
      color: #000606;
      letter-spacing: 0.016rem;
      margin-right: 34.9rem;
      font-size: 3.2rem;
      line-height: 1.025;
    }
    .frame-1171275852-vj7 {
      height: 100%;
      display: flex;
      column-gap: 1rem;
      align-items: center;
      flex-shrink: 0;

      .frame-1171275846-Gny {
        width: 33.5rem;
        height: 100%;
        box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.0199999996);
        background-color: #ffffff;
        border-radius: 5.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.415rem 1.415rem 1.415rem 1.415rem;

        .frame-1171275845-1Vf {
          height: 100%;
          display: flex;
          align-items: center;
          width: 18.1854rem;

          .icons-xvh {
            height: 1.9708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.5146rem;
            width: 1.9708rem;
          }
          .search-for-anything-61K {
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.025;
            color: rgba(6, 6, 6, 0.400000006);
          }
        }
      }
      .frame-1171275847-y57 {
        object-fit: contain;
        vertical-align: top;
        border-radius: 5.5rem;
        flex-shrink: 0;
        width: 4.8rem;
        height: 4.8rem;
      }
      .frame-1171275851-5dw {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border-radius: 2.4rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 2rem 0.5rem 0.5rem;
        height: 100%;

        .ellipse-3226-RC1 {
          box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.0199999996);
          background-size: 105.023% 105.023%;
          height: 3.8rem;
          background-position: -0.0673rem -0.1751rem;
          background-image: url('REPLACE_IMAGE:44ce677a3a8bdf19c7b4f7e27422dcf2c356ae9e');
          border-radius: 1.9rem;
          flex-shrink: 0;
          margin-right: 1rem;
          width: 3.8rem;

          .ellipse-3226-RC1-bg {
            width: 3.8rem;
            height: 3.8rem;
            position: relative;
            background-image: url('REPLACE_IMAGE:44ce677a3a8bdf19c7b4f7e27422dcf2c356ae9e');
          }
        }
        .frame-1171275855-Fwj {
          align-items: center;
          flex-shrink: 0;
          margin: 0.4rem 0rem 0.3rem 0rem;
          box-sizing: border-box;
          padding-right: 0.2545rem;
          height: calc(100% - 0.7rem);
          display: flex;

          .frame-1171275849-P2M {
            margin-right: 1.6545rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .user-name-8kd {
              font-family: Epilogue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.3rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.025;
              color: #292d32;
            }
            .university-name-E2y {
              line-height: 1.025;
              color: rgba(41, 45, 50, 0.4399999976);
              font-family: Epilogue, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
            }
          }
          .icons-MdP {
            margin-bottom: 0.1rem;
            width: 0.8909rem;
            height: 0.5091rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .vector-421 {
    width: 6.6rem;
    height: 5rem;
    position: absolute;
    left: 105.9rem;
    top: 58.9rem;
    object-fit: contain;
    vertical-align: top;
  }
  .scrollbar-y8y {
    box-sizing: border-box;
    width: 1.7rem;
    top: 0.7rem;
    display: flex;
    background-color: #f1f1f1;
    padding: 0.7rem 0.2rem 0.7rem 0.2rem;
    height: 107.3rem;
    position: absolute;
    left: 142.3rem;
    row-gap: 51.3rem;
    align-items: center;
    flex-direction: column;

    .arrow-SHT {
      width: 0.7rem;
      height: 0.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .thumb-78h {
      width: 100%;
      height: 2.5rem;
      background-color: #c1c1c1;
      flex-shrink: 0;
    }
    .arrow-Ej7 {
      width: 0.7rem;
      height: 0.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .vector-any {
    height: 5.5rem;
    position: absolute;
    left: 116.5rem;
    top: 60.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 7.3rem;
  }
  .white-background-XTK {
    background-color: #ffffff;
    border-radius: 2rem;
    width: 59.7rem;
    height: 68.6rem;
    position: absolute;
    left: 54.2rem;
    top: 23.4rem;
    box-shadow: 0 0.6rem 0.8rem rgba(0, 0, 0, 0.0500000007);
  }
  .uploaded-file-3-pBX {
    padding: 1.095rem 1.106rem 1.095rem 1.106rem;
    width: 49.2143rem;
    border: solid 0.1rem #11af22;
    box-sizing: border-box;
    line-height: 1.5;
    font-style: italic;
    white-space: nowrap;
    border-radius: 0.4rem;
    position: absolute;
    display: flex;
    align-items: center;
    color: #0e0e0e;
    font-family: Mulish, 'Source Sans Pro';
    background-color: #ffffff;
    left: 58rem;
    top: 38.4rem;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 400;
    height: 3.9897rem;
  }
  .cta-eAZ {
    line-height: 1.2857142857;
    text-transform: uppercase;
    font-family: Mulish, 'Source Sans Pro';
    align-items: center;
    justify-content: center;
    background-color: #5c338c;
    height: 5rem;
    position: absolute;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 2rem;
    width: 34.3rem;
    left: 67.6rem;
    color: #ffffff;
    cursor: pointer;
    top: 83.5rem;
    display: flex;
    white-space: nowrap;
  }
  .add-lecture-recording-name-62Z {
    width: 45.4rem;
    left: 58.3rem;
    justify-content: center;
    line-height: 1.255;
    font-family: Mulish, 'Source Sans Pro';
    height: 2.8rem;
    position: absolute;
    top: 28rem;
    font-weight: 700;
    font-size: 2.2rem;
    color: #0e0e0e;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .what-is-the-title-or-topic-of-the-lecture-ZRw {
    font-size: 1.4rem;
    top: 34.9rem;
    align-items: center;
    position: absolute;
    left: 58.1rem;
    justify-content: center;
    line-height: 1.255;
    color: #676767;
    font-family: Mulish, 'Source Sans Pro';
    width: 26rem;
    height: 1.8rem;
    white-space: nowrap;
    display: flex;
    font-weight: 700;
  }
  .uploaded-file-5-EY5 {
    color: #0e0e0e;
    height: 3.9897rem;
    align-items: center;
    font-size: 1.2rem;
    font-family: Mulish, 'Source Sans Pro';
    white-space: nowrap;
    width: 7.7rem;
    justify-content: center;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
    border-radius: 0.4rem;
    top: 61.2rem;
    display: flex;
    font-style: italic;
    border: solid 0.1rem #11af22;
    background-color: #ffffff;
    position: absolute;
    left: 58rem;
  }
  .what-is-the-file-format-of-the-uploaded-recording-eg-mp3-mp4-wav-5Yh {
    line-height: 1.255;
    align-items: center;
    justify-content: center;
    font-family: Mulish, 'Source Sans Pro';
    white-space: nowrap;
    top: 57.7rem;
    font-size: 1.4rem;
    width: 48.7rem;
    font-weight: 700;
    left: 58.1rem;
    display: flex;
    color: #676767;
    height: 1.8rem;
    position: absolute;
  }
  .uploaded-file-4-WP7 {
    box-sizing: border-box;
    left: 58.1rem;
    top: 51rem;
    font-weight: 400;
    background-color: #ffffff;
    width: 49.2143rem;
    position: absolute;
    display: flex;
    color: #0e0e0e;
    white-space: nowrap;
    border-radius: 0.4rem;
    height: 3.9897rem;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    font-family: Mulish, 'Source Sans Pro';
    padding: 1.095rem 1.106rem 1.095rem 1.106rem;
    font-size: 1.2rem;
    font-style: italic;
    border: solid 0.1rem #11af22;
  }
  .is-there-any-other-information-or-special-instructions-you-would-like-to-provide-regarding-the-lecture-KrM {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.255;
    width: 46.9rem;
    position: absolute;
    left: 58.2rem;
    top: 45.6rem;
    display: flex;
    color: #676767;
    height: 3.6rem;
    font-family: Mulish, 'Source Sans Pro';
  }
  .uploaded-file-6-zSh {
    display: flex;
    align-items: center;
    line-height: 1.5;
    font-style: italic;
    white-space: nowrap;
    box-sizing: border-box;
    width: 7.7rem;
    height: 3.9897rem;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 0.4rem;
    left: 67.6rem;
    top: 61.2rem;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: Mulish, 'Source Sans Pro';
    border: solid 0.1rem #11af22;
    position: absolute;
    color: #0e0e0e;
  }
}
