
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 20.7rem;
}.white-text-1-xuT {
  width: 100%;
  height: 4.1rem;
  object-fit: cover;
  vertical-align: top;
}
