
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.styleslight-Tam {
  width: 100%;
  height: 163.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.styleslight-Tam .h1-xnR {
  width: 8.2rem;
  height: 8rem;
  position: absolute;
  left: 13.5rem;
  top: 11.6rem;
  font-size: 7.2rem;
  font-weight: 800;
  line-height: 1.1111111111;
  letter-spacing: -0.2rem;
  color: #381300;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.styleslight-Tam .h2-3J5 {
  width: 7.4rem;
  height: 6.4rem;
  position: absolute;
  left: 13.5rem;
  top: 22.4rem;
  font-size: 5.6rem;
  font-weight: 800;
  line-height: 1.1428571429;
  letter-spacing: -0.1rem;
  color: #381300;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.styleslight-Tam .h3-6n9 {
  width: 6.2rem;
  height: 4.8rem;
  position: absolute;
  left: 13.5rem;
  top: 31.7rem;
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1.0666666667;
  color: #381300;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.styleslight-Tam .h4-nus {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 13.5rem;
  top: 40.9rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #381300;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.styleslight-Tam .h5-G4M {
  width: 3.1rem;
  height: 3.2rem;
  position: absolute;
  left: 13.5rem;
  top: 47.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #ef6d58;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.styleslight-Tam .label-xhs {
  width: 3.6rem;
  height: 1.3rem;
  position: absolute;
  left: 13.5rem;
  top: 55.1rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.025;
  text-transform: uppercase;
  color: #381300;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.styleslight-Tam .textbig-gds {
  width: 8.5rem;
  height: 3.2rem;
  position: absolute;
  left: 13.5rem;
  top: 60.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #381300;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.styleslight-Tam .text-xrH {
  width: 3.3rem;
  height: 3.2rem;
  position: absolute;
  left: 13.5rem;
  top: 66.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: #381300;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.styleslight-Tam .textgray-gXP {
  width: 7.9rem;
  height: 3.2rem;
  position: absolute;
  left: 13.5rem;
  top: 73.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: rgba(57, 20, 0, 0.6399999857);
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.styleslight-Tam .textsmall-mYq {
  width: 7.5rem;
  height: 2.4rem;
  position: absolute;
  left: 13.5rem;
  top: 80rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  color: rgba(57, 20, 0, 0.6399999857);
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.styleslight-Tam .auto-group-qape-429 {
  width: 57rem;
  height: 7.6rem;
  position: absolute;
  left: 13.5rem;
  top: 96.4rem;
  display: flex;
  align-items: center;
}
.styleslight-Tam .auto-group-qape-429 .light-field-default-P4R {
  margin-right: 3rem;
  width: 27rem;
  height: 100%;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-qape-429 .light-field-default-P4R .label-Wuj {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.025;
  text-transform: uppercase;
  color: #381300;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.styleslight-Tam .auto-group-qape-429 .light-field-default-P4R .auto-group-rsnk-S2h {
  box-sizing: border-box;
  padding: 0.9rem 1.6rem 0.7rem 1.6rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: rgba(57, 20, 0, 0.6399999857);
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #f3d1bf;
  background-color: #ffffff;
  border-radius: 0.6rem;
}
.styleslight-Tam .auto-group-qape-429 .light-field-dropdown-gxd {
  width: 27rem;
  height: 100%;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-qape-429 .light-field-dropdown-gxd .label-SS1 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.025;
  text-transform: uppercase;
  color: #381300;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.styleslight-Tam .auto-group-qape-429 .light-field-dropdown-gxd .auto-group-hmoi-xv9 {
  box-sizing: border-box;
  padding: 0.9rem 1.6rem 0.7rem 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #f3d1bf;
  background-color: #ffffff;
  border-radius: 0.6rem;
}
.styleslight-Tam .auto-group-qape-429 .light-field-dropdown-gxd .auto-group-hmoi-xv9 .placeholder-Vv5 {
  margin-right: 13.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: rgba(57, 20, 0, 0.6399999857);
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-qape-429 .light-field-dropdown-gxd .auto-group-hmoi-xv9 .triangle-S4d {
  margin-bottom: 0.2rem;
  width: 1rem;
  height: 0.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-rbxr-8TF {
  width: 31.3rem;
  height: 3.2rem;
  position: absolute;
  left: 13.5rem;
  top: 116.1rem;
  display: flex;
  align-items: center;
}
.styleslight-Tam .auto-group-rbxr-8TF .light-checkbox-checked-Fnm {
  margin-right: 10.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-rbxr-8TF .light-checkbox-checked-Fnm .auto-group-qvyy-brd {
  margin: 0rem 0.8rem 0.2rem 0rem;
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-rbxr-8TF .light-checkbox-checked-Fnm .checked-6Hb {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: #381300;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-rbxr-8TF .light-checkbox-unchecked-DND {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-rbxr-8TF .light-checkbox-unchecked-DND .rectangle-NF7 {
  margin: 0rem 0.8rem 0.2rem 0rem;
  width: 1.6rem;
  height: 1.6rem;
  border: solid 0.1rem #cccccc;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-rbxr-8TF .light-checkbox-unchecked-DND .unchecked-fED {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: #381300;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-rnxe-Pg1 {
  width: 31.5rem;
  height: 3.2rem;
  position: absolute;
  left: 13.5rem;
  top: 122.5rem;
  display: flex;
  align-items: center;
}
.styleslight-Tam .auto-group-rnxe-Pg1 .light-radio-selected-8Nh {
  margin-right: 10.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-rnxe-Pg1 .light-radio-selected-8Nh .auto-group-hhpi-Tfs {
  margin: 0rem 0.8rem 0.2rem 0rem;
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-rnxe-Pg1 .light-radio-selected-8Nh .selected-PJd {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: #381300;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-rnxe-Pg1 .light-radio-unselected-j7b {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-rnxe-Pg1 .light-radio-unselected-j7b .oval-5SM {
  margin: 0rem 0.8rem 0.2rem 0rem;
  width: 1.6rem;
  height: 1.6rem;
  border: solid 0.1rem #cccccc;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-rnxe-Pg1 .light-radio-unselected-j7b .unselected-nbf {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: #381300;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-1dcx-6sF {
  width: 24.8rem;
  height: 4.8rem;
  position: absolute;
  left: 13.5rem;
  top: 139.2rem;
  display: flex;
  align-items: center;
}
.styleslight-Tam .auto-group-1dcx-6sF .light-button-primary-text-1jK {
  margin-right: 3rem;
  width: 17rem;
  height: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.025;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ef6d58;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-1dcx-6sF .rectangle-gaZ {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #ef6d58;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-alha-28d {
  width: 24.8rem;
  height: 4.8rem;
  position: absolute;
  left: 13.5rem;
  top: 147.2rem;
  display: flex;
  align-items: center;
}
.styleslight-Tam .auto-group-alha-28d .light-button-secondary-text-kqK {
  margin-right: 3rem;
  width: 17rem;
  height: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.025;
  text-transform: uppercase;
  color: #381300;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.3rem 0.9rem rgba(57, 20, 0, 0.0799999982);
  background-color: #ffffff;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.styleslight-Tam .auto-group-alha-28d .rectangle-CBX {
  width: 4.8rem;
  height: 4.8rem;
  box-shadow: 0 0.3rem 0.9rem rgba(57, 20, 0, 0.0799999982);
  background-color: #ffffff;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
