
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 17rem;
}.dark-button-secondary-text-ncV {
  width: 100%;
  height: 4.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.025;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem rgba(255, 255, 255, 0.2957427502);
  box-sizing: border-box;
  border-radius: 0.6rem;
}
