
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 27rem;
}.light-field-default-TXB {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.light-field-default-TXB .label-DFT {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.025;
  text-transform: uppercase;
  color: #381300;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.light-field-default-TXB .auto-group-gnfw-Lay {
  box-sizing: border-box;
  padding: 0.9rem 1.6rem 0.7rem 1.6rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: rgba(57, 20, 0, 0.6399999857);
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #f3d1bf;
  background-color: #ffffff;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
