
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 8.3rem;
}.light-checkbox-checked-3xZ {
  width: 100%;
  display: flex;
  align-items: center;
}
.light-checkbox-checked-3xZ .auto-group-nc8k-K9P {
  margin-right: 0.8rem;
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.light-checkbox-checked-3xZ .checked-rQD {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: #381300;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
