.about-section {
    position: relative;
    padding: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: rgb(0, 0, 0);
}

.about-text-content {
    position: relative;
    width: 100%;
}

.about-titleup {
    color: #5C338C;
    font-family: 'Epilogue', sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
    margin-top: -50px;
    margin-bottom: -20px;
}

.about-title {
    font-family: 'Epilogue', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-align: left;
}

.about-title > span {
    position: relative;
    margin-left: -50px;
}

.about-description {
    margin: 0;
    color: white;
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    letter-spacing: .7px;
    line-height: 1.7rem;
    text-align: left;
    position: relative;
    top: 0px;
    left: -50%;
    transform: translateX(50%);
    width: 50%;
}

.about-text-title {
    margin: 0 0 24px 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .7px;
    text-align: left;
}
.solution-steps {
    margin-top: -215px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}
.steps-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: auto;
    counter-reset: step-counter;
}
.step-item::before {
    content: counter(step-counter); 
    counter-increment: step-counter; 
    color: #5C338C; 
    font-family: 'Epilogue', sans-serif; 
    font-size: 52px; 
    margin-right: 15px; 
    vertical-align: -5px;
}
.step-item {
    color: white; 
    font-family: 'Epilogue', sans-serif;
    font-size: 32px; 
    margin-bottom: 12px; 
    font-weight: bold;
    padding-right: 12px;
}
.solution-image-container {
    width: 80%;
    height: auto;
    max-width: 100%;
    margin: 70px auto; /* Center the container vertically and horizontally */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}
.solution-image-container img {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    height: auto; /* Maintain aspect ratio */
}
.additional-content {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: flex-start;
  margin-top: 30px;
}
.text-content {
  width: 50%; /* Adjust width as needed */
  padding-right: 20px; /* Add some space between text and image */
}
.text-content h4, .text-content h1, .text-content p, .text-content h3 {
  font-family: 'Epilogue', sans-serif;
  color: white;
}
.text-content h4 {
  font-size: 20px;
  font-weight: normal;
  color: #A498E7;
}
.text-content h2 {
    font-size: 56px;
    font-weight: bold;
    padding-bottom: 15px;
}
.text-content h3 {
  font-size: 20px;
  padding-bottom: 15px;
  padding-top: 25px;
  margin-top: -15px;
  margin-bottom: 40px;
}
.text-content p {
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}
.image-content img {
  max-width: 100%;
  height: auto;
}
/* Steps */
.about-text-step {
    margin: 16px 0;
}
.about-text-sTitle {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .7px;
}
.about-text-description {
    margin: 8px 24px;
    color: white;
    font-family: 'Rubik', sans-serif;
    letter-spacing: .7px;
    line-height: 1.6rem;
}
.fa-icon {
    color: #5C338C;
}
.text-appointment-btn {
    padding: 14px 50px;
    color: white;
    border: 1px solid transparent;
    border-radius: 13px;
    outline: transparent;
    background-color: #5C338C;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: .8px;
    cursor: pointer;
    transition: all .4s ease;
    text-align: center; /* Added */
    margin-top: 30px;
}
.text-appointment-btn:hover {
    color: #5C338C;
    background-color: transparent;
    border: 1px solid #5C338C;
}
.about-appointment-btn {
    position: relative;
    padding: 14px 50px;
    color: white;
    border: 1px solid transparent;
    /* border-radius: 13px; */
    outline: transparent;
    background-color: #5C338C;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: .8px;
    cursor: pointer;
    transition: all .4s ease;
    text-align: center;
    margin-top: 40px;
    margin-left: 10px;
}
.about-appointment-btn:hover {
  color: #5C338C;
  background-color: transparent;
  border: 1px solid #5C338C;
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .about-section {
        display: block;
    }
    .about-image-content {
        width: 100%;
        max-width: 100%;
        margin: 0 0 32px 0;
    }
    .about-image1 {
        width: 100%;
        height: 100%;
    }
    .about-text-content {
        width: 100%;
    }
}