table {
  width: 128%;
  border-collapse: collapse;
  margin-left: -280px;
  font-family: Poppins, sans-serif;
  margin-top: 10px;
}

thead th {
  background-color: #ffffff;
  border: solid black 1px;
}

tbody tr:nth-child(even) {
  background-color: #ccc;
  border: solid white 1px;
}

td, th {
 padding:10px;
 text-align:left;
 background-color: #ccc;
 border: solid white 1px;
}

select {
  border: none;
  background-color: transparent;
  font-size: 1em;
  color: inherit;
}

.delayed {
 color:#FFFF00; /* yellow */
}
.on going{
 color:#FFA500; /* orange */
}
.completed{
 color:#008000; /* green */
}
.at risk{
 color:#FF0000; /* red */
}