.sidebar {
  background-color: #2f2828;
  color: #ffffff;
  width: 270px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.upload-link {
  text-decoration: none;
}

.upload-button {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 45px;
  padding: 6px; 
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  border: none;
  width: 170px;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.upload-button:hover {
  background-color: #a16edc; /* Change background color on hover */
}

.icon-container {
  background-color: #5C338C;
  border-radius: 50%;
  padding: 4px;
  width: 35px;
  margin-right: 6px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for smooth color change */
}

.upload-button:hover .icon-container {
  background-color: white; /* Change background color on hover */
}

.plus-icon {
  color: white;
  font-size: 20px;
  transition: color 0.3s ease; /* Add transition for smooth color change */
}

.upload-button:hover .plus-icon {
  color: #5C338C; /* Change color on hover */
}

.question-button {
  background-color: #5a4fcf;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 150px;
}

.inner-circle {
  background-color: #3e3b6f; 
  border-radius: 50%;
  width: 30px; 
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.question-button span {
 color:white; 
 font-size :20px; 
}

.nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 5px;
  width: 100%;
  text-align: left;
  border-radius: 20px; /* Add border-radius */
  padding: 10px; /* Add padding */
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for smooth color change */
  font-family: Poppins, sans-serif;
  margin-left: 40px;
}

.nav a:hover {
    background-color: #ffffff; /* Change background color on hover */
    color: black; /* Change text color on hover */
    border-radius: 30px;
}