.task-container {
    max-width: 800px;
    margin: auto;
    margin-left: -280px;
    color: white;
    margin-top: 20px;
}

.tabs button {
    margin-right: 20px;
}

.task-list {
    list-style-type:none;
}

.task-list li {
   display:flex;
   align-items:center;
   margin-bottom :10px; 
}

.status {
   margin-left:auto; 
   padding :5px 10px; 
   border-radius :20px; 
}

.approved{
 background-color:green; 
 color:white; 
}
.in-review{
 background-color :orange; 
 color:white; 
}
.on-going{
 background-color:red ;  
 color:white ;
}