.upload-container {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: black;
  margin-top: 170px;
  width: 700px;
  height: 420px;
  background-color: white;
  font-family: Poppins, sans-serif;
  margin-right: 250px;
}

.upload-container h2 {
  margin-top: 10px;
  font-weight: bold;
}

.drag-drop-area {
  margin-top: 30px;
  margin-bottom: 35px;
  margin-left: 80px;
  border: 2px dashed #ccc;
  padding: 10px;
  border-radius: 5px;
  height: 200px;
  width: 450px;
}

.drag-drop-area p, p {
  margin-top: -30px;
}

.drag-drop-area button {
  background-color: #483EA8; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 70px;
  border-radius: 30px;
  margin-left: 7px;
}

.file-list {
  margin-bottom: 15px;
}

.file-list h4 {
  margin-bottom: 5px;
}

.progress-bar-container {
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}

.upload-buttonn {
  background-color: #483EA8;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius:10px;
  font-size: 16px;
  cursor: pointer;
  width: 300px;
  height: 45px;
}

.upload-buttonn:disabled {
  /* background-color: #c0c0c0; Use a different color for disabled state */
  cursor: not-allowed;
}