.contact-section {
  background-color: #09050E;
  color: white;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.contact-section h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 20px;
}

.contact-section p {
  font-size: 18px;
  margin-bottom: 40px;
  text-align: auto;
  font-variant: inherit;
  color: gray;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.card {
  background-color:  #FFF8E7;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  text-align: center;
}

.card p {
  font-size: 18px;
  color: orange;
}

.card p1 {
  font: size 18px;
  color: #09050E;
  margin-right: 20px;
}

@media screen and (max-width: 900px) {
  .contact-info {
    flex-direction: column;
  }

  .card {
    width: 80%;
    margin-bottom: 20px;
  }

  .contact-form {
    width: 80%;
  }
}
