.flashcard-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    height: 100vh;
    background-color: #f8f4e8; /* Light cream background color */
  }
  
  .flashcard {
    flex: 1;
    padding: 20px;
    background-color: #e0d3bb; /* Dark cream flashcard color */
    border: 4px solid #e4e4e4;
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 32px);
    max-width: 400px;
    height: 1000px; /* Adjust height as needed */
  }
  
  .sidebar {
    width: 300px;
    order: -1; /* Push sidebar to the left */
  }
  
  
  .sidebar {
    width: 300px;
  }
  
  
  
  /* Add specific styles for each flashcard */
  .flashcard1 {
    background-color: #fff;
  }
  
  .flashcard2 {
    background-color: #f8f8f8;
  }
  
  .flashcard3 {
    background-color: #eaeaea;
  }
  
  .flashcard4 {
    background-color: #f5f5f5;
  }
  