
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.cover-m1P {
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 96rem;

  .figmacover1920x960-1-mfb {
    width: 192rem;
    height: 96rem;
    object-fit: cover;
    vertical-align: top;
  }
}
