
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 8.3rem;
}.dark-checkbox-checked-BbT {
  width: 100%;
  display: flex;
  align-items: center;

  .auto-group-ssnc-jss {
    height: 1.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-right: 0.8rem;
    width: 1.6rem;
  }
  .checked-HPb {
    font-weight: 400;
    line-height: 2;
    color: #ffffff;
    font-family: Epilogue, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 1.6rem;
  }
}
