
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 27rem;
}.light-field-dropdown-6c5 {
  display: flex;
  flex-direction: column;
  width: 100%;

  .label-rbF {
    color: #381300;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.025;
    text-transform: uppercase;
    font-family: Epilogue, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .auto-group-mtdr-yA5 {
    padding: 0.9rem 1.6rem 0.7rem 1.6rem;
    display: flex;
    align-items: center;
    border-radius: 0.6rem;
    flex-shrink: 0;
    box-sizing: border-box;
    border: solid 0.1rem #f3d1bf;
    background-color: #ffffff;
    width: 100%;

    .placeholder-uJd {
      line-height: 2;
      color: rgba(57, 20, 0, 0.6399999857);
      font-family: Epilogue, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 13.3rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .triangle-e1K {
      margin-bottom: 0.2rem;
      width: 1rem;
      height: 0.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
