
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 8.4rem;
}.light-radio-selected-VV7 {
  align-items: center;
  width: 100%;
  display: flex;

  .auto-group-e6v2-42R {
    margin-right: 0.8rem;
    width: 1.6rem;
    height: 1.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .selected-ZUy {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
    color: #381300;
    font-family: Epilogue, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
}
