
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 17rem;
}.light-button-secondary-text-iq3 {
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  justify-content: center;
  border-radius: 0.6rem;
  font-weight: 900;
  height: 4.8rem;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.025;
  color: #381300;
  width: 100%;
  box-shadow: 0 0.3rem 0.9rem rgba(57, 20, 0, 0.0799999982);
  align-items: center;
  display: flex;
  background-color: #ffffff;
  text-transform: uppercase;
}
