<div>
  <nz-upload
    nzType="drag"
    [nzMultiple]="false"
    nzAction="http://127.0.0.1:5000/api/video-upload"
    (nzChange)="handleChange($event)"
  >
    <p class="ant-upload-drag-icon">
      <span nz-icon nzType="inbox"></span>
    </p>
    <p class="ant-upload-text">Click or drag file to this area to upload</p>
    <p class="ant-upload-hint">
      Support for a single upload.
    </p>
  </nz-upload>

  <nz-divider nzText="Video List"></nz-divider>

  <nz-list nzGrid>
    <div nz-row [nzGutter]="16">
      @for (item of listOfVideos; track item) {
      <div nz-col [nzXXl]="6" [nzXl]="6" [nzLg]="6" [nzMd]="6" [nzSm]="12" [nzXs]="24">
        <nz-list-item>
          <nz-card style="width:300px;margin:auto;" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
            <nz-card-meta
              nzTitle="{{item.original_video_name}}"
              nzDescription="Video ID: {{item.video_uuid}}"
            ></nz-card-meta>
          </nz-card>

          <ng-template #coverTemplate>
            <img alt="example" src="http://127.0.0.1:5000/api/video/{{item.video_uuid}}/thumb" />
          </ng-template>
          <ng-template #actionSetting>
            <button [disabled]="item.video_indexer_id" nzTooltipTitle="Start Video Processing" nzTooltipPlacement="top" nz-button nz-tooltip nzType="primary" nzShape="circle" (click)="startVideoProcessing(item, $event)"><span nz-icon nzType="cloud-upload"></span></button>
          </ng-template>
          <ng-template #actionEdit>
            <button [disabled]="item.flash_card || item.note || item.question" nzTooltipTitle="Get Video Index" nzTooltipPlacement="top" nz-button nz-tooltip nzType="primary" nzShape="circle" (click)="getVideoIndex(item, $event)"><span nz-icon nzType="download"></span></button>
          </ng-template>
          <ng-template #actionEllipsis>
            <button [disabled]="!item.flash_card || !item.note || !item.question" nzTooltipTitle="Get Results" nzTooltipPlacement="top" nz-button nz-tooltip nzType="primary" nzShape="circle" (click)="getVideoResults(item.video_uuid, $event)"><span nz-icon nzType="file-done"></span></button>
          </ng-template>
        </nz-list-item>
      </div>
      }
    </div>
  </nz-list>

  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="originalVideoName" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
            nzWidth="1200px">
    <ng-container *nzModalContent>
      <nz-tabset [nzAnimated]='tabAnimation'>
        <nz-tab nzTitle="Notes">
          <nz-divider nzText="Notes"></nz-divider>
          <pre><p style="font-family: sans-serif; text-wrap: pretty;">{{notes}}</p></pre>
          <button nzTooltipTitle="Download Notes as PDF" nzTooltipPlacement="top" nz-button nz-tooltip nzType="primary"
                  nzSize="small" nzShape="round" (click)="downloadPDF('notes')">
            <span nz-icon nzType="file-pdf"></span>
            Download as PDF
          </button>

          <button nzTooltipTitle="Download Notes as Word" nzTooltipPlacement="top" nz-button nz-tooltip nzType="primary"
                  nzSize="small" nzShape="round" (click)="downloadWordDoc('notes')" style="margin-left: 10px">
            <span nz-icon nzType="file-word"></span>
            Download as Word
          </button>
        </nz-tab>

        <nz-tab nzTitle="Question">
          <nz-divider nzText="Question"></nz-divider>
          <pre><p style="font-family: sans-serif; text-wrap: pretty;">{{questions}}</p></pre>
          <button nzTooltipTitle="Download Questions as PDF" nzTooltipPlacement="top" nz-button nz-tooltip
                  nzType="primary" nzSize="small" nzShape="round" (click)="downloadPDF('questions')">
            <span nz-icon nzType="file-pdf"></span>
            Download as PDF
          </button>

          <button nzTooltipTitle="Download Questions as Word" nzTooltipPlacement="top" nz-button nz-tooltip
                  nzType="primary" nzSize="small" nzShape="round" (click)="downloadWordDoc('questions')" style="margin-left: 10px">
            <span nz-icon nzType="file-word"></span>
            Download as Word
          </button>
        </nz-tab>

        <nz-tab nzTitle="Flash Cards">
          <nz-divider nzText="Flash Cards"></nz-divider>
          <pre><p style="font-family: sans-serif; text-wrap: pretty;">{{flashCards}}</p></pre>
          <button nzTooltipTitle="Download Flash Cards as PDF" nzTooltipPlacement="top" nz-button nz-tooltip
                  nzType="primary" nzSize="small" nzShape="round" (click)="downloadPDF('flashCards')">
            <span nz-icon nzType="file-pdf"></span>
            Download as PDF
          </button>

          <button nzTooltipTitle="Download Flash Cards as Word" nzTooltipPlacement="top" nz-button nz-tooltip
                  nzType="primary" nzSize="small" nzShape="round" (click)="downloadWordDoc('flashCards')" style="margin-left: 10px">
            <span nz-icon nzType="file-word"></span>
            Download as Word
          </button>
        </nz-tab>
      </nz-tabset>
    </ng-container>
  </nz-modal>

</div>

